<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianmi.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="city" >
    <constructor >
      <idArg column="c_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shebao_date_str" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shebao_rule" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gongjijin_date_str" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gongjijin_rule" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, province, name, shebao_date_str, shebao_rule, gongjijin_date_str, gongjijin_rule
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="city" >
    insert into city (c_id, province, name
      )
    values (#{cId,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="city" >
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shebaoDateStr != null" >
        shebao_date_str,
      </if>
      <if test="shebaoRule != null" >
        shebao_rule,
      </if>
      <if test="gongjijinDateStr != null" >
        gongjijin_date_str,
      </if>
      <if test="gongjijinRule != null" >
        gongjijin_rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shebaoDateStr != null" >
        #{shebaoDateStr,jdbcType=VARCHAR},
      </if>
      <if test="shebaoRule != null" >
        #{shebaoRule,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinDateStr != null" >
        #{gongjijinDateStr,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinRule != null" >
        #{gongjijinRule,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="city" >
    update city
    <set >
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shebaoDateStr != null" >
        #{shebaoDateStr,jdbcType=VARCHAR},
      </if>
      <if test="shebaoRule != null" >
        #{shebaoRule,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinDateStr != null" >
        #{gongjijinDateStr,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinRule != null" >
        #{gongjijinRule,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="city" >
    update city
    set province = #{province,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      shebao_date_str = #{shebaoDateStr,jdbcType=VARCHAR},
      shebao_rule = #{shebaoRule,jdbcType=VARCHAR},
      gongjijin_date_str = #{gongjijinDateStr,jdbcType=VARCHAR},
      gongjijin_rule = #{gongjijinRule,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>


  <select id="pageList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    city
  </select>

</mapper>