<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.mapper.CostDgMapper">
  <resultMap id="BaseResultMap" type="com.dianmi.model.CostDg">
    <constructor>
      <idArg column="cd_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="supplier_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="customer_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="customer_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reporting_period" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="certificate_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pension_radix" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="pension_company_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="pension_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="pension_company_supplement_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="pension_company_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="pension_supplement_interest" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="pension_late_fees" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="unemployment_radix" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="unemployment_company_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="unemployment_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="unemployment_company_supplement_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="unemployment_company_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="unemployment_supplement_interest" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="unemployment_late_fees" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="injury_radix" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="injury_company_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="injury_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="injury_company_supplement_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="injury_company_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="injury_supplement_interest" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="injury_late_fees" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="procreate_radix" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="procreate_company_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="procreate_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="procreate_company_supplement_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="procreate_company_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="procreate_supplement_interest" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="procreate_late_fees" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="medical_treatment_radix" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="medical_treatment_company_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="medical_treatment_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="medical_treatment_company_supplement_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="medical_treatment_company_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="medical_treatment_supplement_interest" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="medical_treatment_late_fees" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="serious_illness_treatment_radix" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="serious_illness_treatment_company_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="serious_illness_treatment_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="serious_illness_treatment_company_supplement_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="serious_illness_treatment_company_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="serious_illness_treatment_supplement_interest" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="serious_illness_treatment_late_fees" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="disability_benefit" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="service_charge" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="social_security_total" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="accumulation_fund_radix" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="accumulation_fund_old_radix" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="accumulation_fund_old_ratio" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accumulation_fund_person_ratio" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accumulation_fund_company_ratio" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accumulation_fund_company_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="accumulation_fund_person_pay" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="accumulation_fund_total" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="accumulation_fund_account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="manager" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    cd_id, user_id, supplier_id, customer_id, customer_name, reporting_period, name, 
    certificate_number, pension_radix, pension_company_pay, pension_person_pay, pension_company_supplement_pay, 
    pension_company_person_pay, pension_supplement_interest, pension_late_fees, unemployment_radix, 
    unemployment_company_pay, unemployment_person_pay, unemployment_company_supplement_pay, 
    unemployment_company_person_pay, unemployment_supplement_interest, unemployment_late_fees, 
    injury_radix, injury_company_pay, injury_person_pay, injury_company_supplement_pay, 
    injury_company_person_pay, injury_supplement_interest, injury_late_fees, procreate_radix, 
    procreate_company_pay, procreate_person_pay, procreate_company_supplement_pay, procreate_company_person_pay, 
    procreate_supplement_interest, procreate_late_fees, medical_treatment_radix, medical_treatment_company_pay, 
    medical_treatment_person_pay, medical_treatment_company_supplement_pay, medical_treatment_company_person_pay, 
    medical_treatment_supplement_interest, medical_treatment_late_fees, serious_illness_treatment_radix, 
    serious_illness_treatment_company_pay, serious_illness_treatment_person_pay, serious_illness_treatment_company_supplement_pay, 
    serious_illness_treatment_company_person_pay, serious_illness_treatment_supplement_interest, 
    serious_illness_treatment_late_fees, disability_benefit, service_charge, social_security_total, 
    accumulation_fund_radix, accumulation_fund_old_radix, accumulation_fund_old_ratio, 
    accumulation_fund_person_ratio, accumulation_fund_company_ratio, accumulation_fund_company_pay, 
    accumulation_fund_person_pay, accumulation_fund_total, accumulation_fund_account, 
    company, manager
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cost_dg
    where cd_id = #{cdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cost_dg
    where cd_id = #{cdId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dianmi.model.CostDg">
    <selectKey keyProperty="cdId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cost_dg (user_id, supplier_id, customer_id, 
      customer_name, reporting_period, name, 
      certificate_number, pension_radix, pension_company_pay, 
      pension_person_pay, pension_company_supplement_pay, 
      pension_company_person_pay, pension_supplement_interest, 
      pension_late_fees, unemployment_radix, unemployment_company_pay, 
      unemployment_person_pay, unemployment_company_supplement_pay, 
      unemployment_company_person_pay, unemployment_supplement_interest, 
      unemployment_late_fees, injury_radix, injury_company_pay, 
      injury_person_pay, injury_company_supplement_pay, 
      injury_company_person_pay, injury_supplement_interest, 
      injury_late_fees, procreate_radix, procreate_company_pay, 
      procreate_person_pay, procreate_company_supplement_pay, 
      procreate_company_person_pay, procreate_supplement_interest, 
      procreate_late_fees, medical_treatment_radix, 
      medical_treatment_company_pay, medical_treatment_person_pay, 
      medical_treatment_company_supplement_pay, medical_treatment_company_person_pay, 
      medical_treatment_supplement_interest, medical_treatment_late_fees, 
      serious_illness_treatment_radix, serious_illness_treatment_company_pay, 
      serious_illness_treatment_person_pay, serious_illness_treatment_company_supplement_pay, 
      serious_illness_treatment_company_person_pay, serious_illness_treatment_supplement_interest, 
      serious_illness_treatment_late_fees, disability_benefit, 
      service_charge, social_security_total, accumulation_fund_radix, 
      accumulation_fund_old_radix, accumulation_fund_old_ratio, 
      accumulation_fund_person_ratio, accumulation_fund_company_ratio, 
      accumulation_fund_company_pay, accumulation_fund_person_pay, 
      accumulation_fund_total, accumulation_fund_account, 
      company, manager)
    values (#{userId,jdbcType=INTEGER}, #{supplierId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{customerName,jdbcType=VARCHAR}, #{reportingPeriod,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{certificateNumber,jdbcType=VARCHAR}, #{pensionRadix,jdbcType=DOUBLE}, #{pensionCompanyPay,jdbcType=DOUBLE}, 
      #{pensionPersonPay,jdbcType=DOUBLE}, #{pensionCompanySupplementPay,jdbcType=DOUBLE}, 
      #{pensionCompanyPersonPay,jdbcType=DOUBLE}, #{pensionSupplementInterest,jdbcType=DOUBLE}, 
      #{pensionLateFees,jdbcType=DOUBLE}, #{unemploymentRadix,jdbcType=DOUBLE}, #{unemploymentCompanyPay,jdbcType=DOUBLE}, 
      #{unemploymentPersonPay,jdbcType=DOUBLE}, #{unemploymentCompanySupplementPay,jdbcType=DOUBLE}, 
      #{unemploymentCompanyPersonPay,jdbcType=DOUBLE}, #{unemploymentSupplementInterest,jdbcType=DOUBLE}, 
      #{unemploymentLateFees,jdbcType=DOUBLE}, #{injuryRadix,jdbcType=DOUBLE}, #{injuryCompanyPay,jdbcType=DOUBLE}, 
      #{injuryPersonPay,jdbcType=DOUBLE}, #{injuryCompanySupplementPay,jdbcType=DOUBLE}, 
      #{injuryCompanyPersonPay,jdbcType=DOUBLE}, #{injurySupplementInterest,jdbcType=DOUBLE}, 
      #{injuryLateFees,jdbcType=DOUBLE}, #{procreateRadix,jdbcType=DOUBLE}, #{procreateCompanyPay,jdbcType=DOUBLE}, 
      #{procreatePersonPay,jdbcType=DOUBLE}, #{procreateCompanySupplementPay,jdbcType=DOUBLE}, 
      #{procreateCompanyPersonPay,jdbcType=DOUBLE}, #{procreateSupplementInterest,jdbcType=DOUBLE}, 
      #{procreateLateFees,jdbcType=DOUBLE}, #{medicalTreatmentRadix,jdbcType=DOUBLE}, 
      #{medicalTreatmentCompanyPay,jdbcType=DOUBLE}, #{medicalTreatmentPersonPay,jdbcType=DOUBLE}, 
      #{medicalTreatmentCompanySupplementPay,jdbcType=DOUBLE}, #{medicalTreatmentCompanyPersonPay,jdbcType=DOUBLE}, 
      #{medicalTreatmentSupplementInterest,jdbcType=DOUBLE}, #{medicalTreatmentLateFees,jdbcType=DOUBLE}, 
      #{seriousIllnessTreatmentRadix,jdbcType=DOUBLE}, #{seriousIllnessTreatmentCompanyPay,jdbcType=DOUBLE}, 
      #{seriousIllnessTreatmentPersonPay,jdbcType=DOUBLE}, #{seriousIllnessTreatmentCompanySupplementPay,jdbcType=DOUBLE}, 
      #{seriousIllnessTreatmentCompanyPersonPay,jdbcType=DOUBLE}, #{seriousIllnessTreatmentSupplementInterest,jdbcType=DOUBLE}, 
      #{seriousIllnessTreatmentLateFees,jdbcType=DOUBLE}, #{disabilityBenefit,jdbcType=DOUBLE}, 
      #{serviceCharge,jdbcType=DOUBLE}, #{socialSecurityTotal,jdbcType=DOUBLE}, #{accumulationFundRadix,jdbcType=DOUBLE}, 
      #{accumulationFundOldRadix,jdbcType=DOUBLE}, #{accumulationFundOldRatio,jdbcType=VARCHAR}, 
      #{accumulationFundPersonRatio,jdbcType=VARCHAR}, #{accumulationFundCompanyRatio,jdbcType=VARCHAR}, 
      #{accumulationFundCompanyPay,jdbcType=DOUBLE}, #{accumulationFundPersonPay,jdbcType=DOUBLE}, 
      #{accumulationFundTotal,jdbcType=DOUBLE}, #{accumulationFundAccount,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dianmi.model.CostDg">
    <selectKey keyProperty="cdId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cost_dg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="reportingPeriod != null">
        reporting_period,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="certificateNumber != null">
        certificate_number,
      </if>
      <if test="pensionRadix != null">
        pension_radix,
      </if>
      <if test="pensionCompanyPay != null">
        pension_company_pay,
      </if>
      <if test="pensionPersonPay != null">
        pension_person_pay,
      </if>
      <if test="pensionCompanySupplementPay != null">
        pension_company_supplement_pay,
      </if>
      <if test="pensionCompanyPersonPay != null">
        pension_company_person_pay,
      </if>
      <if test="pensionSupplementInterest != null">
        pension_supplement_interest,
      </if>
      <if test="pensionLateFees != null">
        pension_late_fees,
      </if>
      <if test="unemploymentRadix != null">
        unemployment_radix,
      </if>
      <if test="unemploymentCompanyPay != null">
        unemployment_company_pay,
      </if>
      <if test="unemploymentPersonPay != null">
        unemployment_person_pay,
      </if>
      <if test="unemploymentCompanySupplementPay != null">
        unemployment_company_supplement_pay,
      </if>
      <if test="unemploymentCompanyPersonPay != null">
        unemployment_company_person_pay,
      </if>
      <if test="unemploymentSupplementInterest != null">
        unemployment_supplement_interest,
      </if>
      <if test="unemploymentLateFees != null">
        unemployment_late_fees,
      </if>
      <if test="injuryRadix != null">
        injury_radix,
      </if>
      <if test="injuryCompanyPay != null">
        injury_company_pay,
      </if>
      <if test="injuryPersonPay != null">
        injury_person_pay,
      </if>
      <if test="injuryCompanySupplementPay != null">
        injury_company_supplement_pay,
      </if>
      <if test="injuryCompanyPersonPay != null">
        injury_company_person_pay,
      </if>
      <if test="injurySupplementInterest != null">
        injury_supplement_interest,
      </if>
      <if test="injuryLateFees != null">
        injury_late_fees,
      </if>
      <if test="procreateRadix != null">
        procreate_radix,
      </if>
      <if test="procreateCompanyPay != null">
        procreate_company_pay,
      </if>
      <if test="procreatePersonPay != null">
        procreate_person_pay,
      </if>
      <if test="procreateCompanySupplementPay != null">
        procreate_company_supplement_pay,
      </if>
      <if test="procreateCompanyPersonPay != null">
        procreate_company_person_pay,
      </if>
      <if test="procreateSupplementInterest != null">
        procreate_supplement_interest,
      </if>
      <if test="procreateLateFees != null">
        procreate_late_fees,
      </if>
      <if test="medicalTreatmentRadix != null">
        medical_treatment_radix,
      </if>
      <if test="medicalTreatmentCompanyPay != null">
        medical_treatment_company_pay,
      </if>
      <if test="medicalTreatmentPersonPay != null">
        medical_treatment_person_pay,
      </if>
      <if test="medicalTreatmentCompanySupplementPay != null">
        medical_treatment_company_supplement_pay,
      </if>
      <if test="medicalTreatmentCompanyPersonPay != null">
        medical_treatment_company_person_pay,
      </if>
      <if test="medicalTreatmentSupplementInterest != null">
        medical_treatment_supplement_interest,
      </if>
      <if test="medicalTreatmentLateFees != null">
        medical_treatment_late_fees,
      </if>
      <if test="seriousIllnessTreatmentRadix != null">
        serious_illness_treatment_radix,
      </if>
      <if test="seriousIllnessTreatmentCompanyPay != null">
        serious_illness_treatment_company_pay,
      </if>
      <if test="seriousIllnessTreatmentPersonPay != null">
        serious_illness_treatment_person_pay,
      </if>
      <if test="seriousIllnessTreatmentCompanySupplementPay != null">
        serious_illness_treatment_company_supplement_pay,
      </if>
      <if test="seriousIllnessTreatmentCompanyPersonPay != null">
        serious_illness_treatment_company_person_pay,
      </if>
      <if test="seriousIllnessTreatmentSupplementInterest != null">
        serious_illness_treatment_supplement_interest,
      </if>
      <if test="seriousIllnessTreatmentLateFees != null">
        serious_illness_treatment_late_fees,
      </if>
      <if test="disabilityBenefit != null">
        disability_benefit,
      </if>
      <if test="serviceCharge != null">
        service_charge,
      </if>
      <if test="socialSecurityTotal != null">
        social_security_total,
      </if>
      <if test="accumulationFundRadix != null">
        accumulation_fund_radix,
      </if>
      <if test="accumulationFundOldRadix != null">
        accumulation_fund_old_radix,
      </if>
      <if test="accumulationFundOldRatio != null">
        accumulation_fund_old_ratio,
      </if>
      <if test="accumulationFundPersonRatio != null">
        accumulation_fund_person_ratio,
      </if>
      <if test="accumulationFundCompanyRatio != null">
        accumulation_fund_company_ratio,
      </if>
      <if test="accumulationFundCompanyPay != null">
        accumulation_fund_company_pay,
      </if>
      <if test="accumulationFundPersonPay != null">
        accumulation_fund_person_pay,
      </if>
      <if test="accumulationFundTotal != null">
        accumulation_fund_total,
      </if>
      <if test="accumulationFundAccount != null">
        accumulation_fund_account,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="manager != null">
        manager,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="reportingPeriod != null">
        #{reportingPeriod,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="pensionRadix != null">
        #{pensionRadix,jdbcType=DOUBLE},
      </if>
      <if test="pensionCompanyPay != null">
        #{pensionCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="pensionPersonPay != null">
        #{pensionPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="pensionCompanySupplementPay != null">
        #{pensionCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="pensionCompanyPersonPay != null">
        #{pensionCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="pensionSupplementInterest != null">
        #{pensionSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="pensionLateFees != null">
        #{pensionLateFees,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentRadix != null">
        #{unemploymentRadix,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentCompanyPay != null">
        #{unemploymentCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentPersonPay != null">
        #{unemploymentPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentCompanySupplementPay != null">
        #{unemploymentCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentCompanyPersonPay != null">
        #{unemploymentCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentSupplementInterest != null">
        #{unemploymentSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentLateFees != null">
        #{unemploymentLateFees,jdbcType=DOUBLE},
      </if>
      <if test="injuryRadix != null">
        #{injuryRadix,jdbcType=DOUBLE},
      </if>
      <if test="injuryCompanyPay != null">
        #{injuryCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="injuryPersonPay != null">
        #{injuryPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="injuryCompanySupplementPay != null">
        #{injuryCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="injuryCompanyPersonPay != null">
        #{injuryCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="injurySupplementInterest != null">
        #{injurySupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="injuryLateFees != null">
        #{injuryLateFees,jdbcType=DOUBLE},
      </if>
      <if test="procreateRadix != null">
        #{procreateRadix,jdbcType=DOUBLE},
      </if>
      <if test="procreateCompanyPay != null">
        #{procreateCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="procreatePersonPay != null">
        #{procreatePersonPay,jdbcType=DOUBLE},
      </if>
      <if test="procreateCompanySupplementPay != null">
        #{procreateCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="procreateCompanyPersonPay != null">
        #{procreateCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="procreateSupplementInterest != null">
        #{procreateSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="procreateLateFees != null">
        #{procreateLateFees,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentRadix != null">
        #{medicalTreatmentRadix,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentCompanyPay != null">
        #{medicalTreatmentCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentPersonPay != null">
        #{medicalTreatmentPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentCompanySupplementPay != null">
        #{medicalTreatmentCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentCompanyPersonPay != null">
        #{medicalTreatmentCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentSupplementInterest != null">
        #{medicalTreatmentSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentLateFees != null">
        #{medicalTreatmentLateFees,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentRadix != null">
        #{seriousIllnessTreatmentRadix,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentCompanyPay != null">
        #{seriousIllnessTreatmentCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentPersonPay != null">
        #{seriousIllnessTreatmentPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentCompanySupplementPay != null">
        #{seriousIllnessTreatmentCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentCompanyPersonPay != null">
        #{seriousIllnessTreatmentCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentSupplementInterest != null">
        #{seriousIllnessTreatmentSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentLateFees != null">
        #{seriousIllnessTreatmentLateFees,jdbcType=DOUBLE},
      </if>
      <if test="disabilityBenefit != null">
        #{disabilityBenefit,jdbcType=DOUBLE},
      </if>
      <if test="serviceCharge != null">
        #{serviceCharge,jdbcType=DOUBLE},
      </if>
      <if test="socialSecurityTotal != null">
        #{socialSecurityTotal,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundRadix != null">
        #{accumulationFundRadix,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundOldRadix != null">
        #{accumulationFundOldRadix,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundOldRatio != null">
        #{accumulationFundOldRatio,jdbcType=VARCHAR},
      </if>
      <if test="accumulationFundPersonRatio != null">
        #{accumulationFundPersonRatio,jdbcType=VARCHAR},
      </if>
      <if test="accumulationFundCompanyRatio != null">
        #{accumulationFundCompanyRatio,jdbcType=VARCHAR},
      </if>
      <if test="accumulationFundCompanyPay != null">
        #{accumulationFundCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundPersonPay != null">
        #{accumulationFundPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundTotal != null">
        #{accumulationFundTotal,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundAccount != null">
        #{accumulationFundAccount,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dianmi.model.CostDg">
    update cost_dg
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="reportingPeriod != null">
        reporting_period = #{reportingPeriod,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="pensionRadix != null">
        pension_radix = #{pensionRadix,jdbcType=DOUBLE},
      </if>
      <if test="pensionCompanyPay != null">
        pension_company_pay = #{pensionCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="pensionPersonPay != null">
        pension_person_pay = #{pensionPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="pensionCompanySupplementPay != null">
        pension_company_supplement_pay = #{pensionCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="pensionCompanyPersonPay != null">
        pension_company_person_pay = #{pensionCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="pensionSupplementInterest != null">
        pension_supplement_interest = #{pensionSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="pensionLateFees != null">
        pension_late_fees = #{pensionLateFees,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentRadix != null">
        unemployment_radix = #{unemploymentRadix,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentCompanyPay != null">
        unemployment_company_pay = #{unemploymentCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentPersonPay != null">
        unemployment_person_pay = #{unemploymentPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentCompanySupplementPay != null">
        unemployment_company_supplement_pay = #{unemploymentCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentCompanyPersonPay != null">
        unemployment_company_person_pay = #{unemploymentCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentSupplementInterest != null">
        unemployment_supplement_interest = #{unemploymentSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="unemploymentLateFees != null">
        unemployment_late_fees = #{unemploymentLateFees,jdbcType=DOUBLE},
      </if>
      <if test="injuryRadix != null">
        injury_radix = #{injuryRadix,jdbcType=DOUBLE},
      </if>
      <if test="injuryCompanyPay != null">
        injury_company_pay = #{injuryCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="injuryPersonPay != null">
        injury_person_pay = #{injuryPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="injuryCompanySupplementPay != null">
        injury_company_supplement_pay = #{injuryCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="injuryCompanyPersonPay != null">
        injury_company_person_pay = #{injuryCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="injurySupplementInterest != null">
        injury_supplement_interest = #{injurySupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="injuryLateFees != null">
        injury_late_fees = #{injuryLateFees,jdbcType=DOUBLE},
      </if>
      <if test="procreateRadix != null">
        procreate_radix = #{procreateRadix,jdbcType=DOUBLE},
      </if>
      <if test="procreateCompanyPay != null">
        procreate_company_pay = #{procreateCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="procreatePersonPay != null">
        procreate_person_pay = #{procreatePersonPay,jdbcType=DOUBLE},
      </if>
      <if test="procreateCompanySupplementPay != null">
        procreate_company_supplement_pay = #{procreateCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="procreateCompanyPersonPay != null">
        procreate_company_person_pay = #{procreateCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="procreateSupplementInterest != null">
        procreate_supplement_interest = #{procreateSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="procreateLateFees != null">
        procreate_late_fees = #{procreateLateFees,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentRadix != null">
        medical_treatment_radix = #{medicalTreatmentRadix,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentCompanyPay != null">
        medical_treatment_company_pay = #{medicalTreatmentCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentPersonPay != null">
        medical_treatment_person_pay = #{medicalTreatmentPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentCompanySupplementPay != null">
        medical_treatment_company_supplement_pay = #{medicalTreatmentCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentCompanyPersonPay != null">
        medical_treatment_company_person_pay = #{medicalTreatmentCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentSupplementInterest != null">
        medical_treatment_supplement_interest = #{medicalTreatmentSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="medicalTreatmentLateFees != null">
        medical_treatment_late_fees = #{medicalTreatmentLateFees,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentRadix != null">
        serious_illness_treatment_radix = #{seriousIllnessTreatmentRadix,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentCompanyPay != null">
        serious_illness_treatment_company_pay = #{seriousIllnessTreatmentCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentPersonPay != null">
        serious_illness_treatment_person_pay = #{seriousIllnessTreatmentPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentCompanySupplementPay != null">
        serious_illness_treatment_company_supplement_pay = #{seriousIllnessTreatmentCompanySupplementPay,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentCompanyPersonPay != null">
        serious_illness_treatment_company_person_pay = #{seriousIllnessTreatmentCompanyPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentSupplementInterest != null">
        serious_illness_treatment_supplement_interest = #{seriousIllnessTreatmentSupplementInterest,jdbcType=DOUBLE},
      </if>
      <if test="seriousIllnessTreatmentLateFees != null">
        serious_illness_treatment_late_fees = #{seriousIllnessTreatmentLateFees,jdbcType=DOUBLE},
      </if>
      <if test="disabilityBenefit != null">
        disability_benefit = #{disabilityBenefit,jdbcType=DOUBLE},
      </if>
      <if test="serviceCharge != null">
        service_charge = #{serviceCharge,jdbcType=DOUBLE},
      </if>
      <if test="socialSecurityTotal != null">
        social_security_total = #{socialSecurityTotal,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundRadix != null">
        accumulation_fund_radix = #{accumulationFundRadix,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundOldRadix != null">
        accumulation_fund_old_radix = #{accumulationFundOldRadix,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundOldRatio != null">
        accumulation_fund_old_ratio = #{accumulationFundOldRatio,jdbcType=VARCHAR},
      </if>
      <if test="accumulationFundPersonRatio != null">
        accumulation_fund_person_ratio = #{accumulationFundPersonRatio,jdbcType=VARCHAR},
      </if>
      <if test="accumulationFundCompanyRatio != null">
        accumulation_fund_company_ratio = #{accumulationFundCompanyRatio,jdbcType=VARCHAR},
      </if>
      <if test="accumulationFundCompanyPay != null">
        accumulation_fund_company_pay = #{accumulationFundCompanyPay,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundPersonPay != null">
        accumulation_fund_person_pay = #{accumulationFundPersonPay,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundTotal != null">
        accumulation_fund_total = #{accumulationFundTotal,jdbcType=DOUBLE},
      </if>
      <if test="accumulationFundAccount != null">
        accumulation_fund_account = #{accumulationFundAccount,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
    </set>
    where cd_id = #{cdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dianmi.model.CostDg">
    update cost_dg
    set user_id = #{userId,jdbcType=INTEGER},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      reporting_period = #{reportingPeriod,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      pension_radix = #{pensionRadix,jdbcType=DOUBLE},
      pension_company_pay = #{pensionCompanyPay,jdbcType=DOUBLE},
      pension_person_pay = #{pensionPersonPay,jdbcType=DOUBLE},
      pension_company_supplement_pay = #{pensionCompanySupplementPay,jdbcType=DOUBLE},
      pension_company_person_pay = #{pensionCompanyPersonPay,jdbcType=DOUBLE},
      pension_supplement_interest = #{pensionSupplementInterest,jdbcType=DOUBLE},
      pension_late_fees = #{pensionLateFees,jdbcType=DOUBLE},
      unemployment_radix = #{unemploymentRadix,jdbcType=DOUBLE},
      unemployment_company_pay = #{unemploymentCompanyPay,jdbcType=DOUBLE},
      unemployment_person_pay = #{unemploymentPersonPay,jdbcType=DOUBLE},
      unemployment_company_supplement_pay = #{unemploymentCompanySupplementPay,jdbcType=DOUBLE},
      unemployment_company_person_pay = #{unemploymentCompanyPersonPay,jdbcType=DOUBLE},
      unemployment_supplement_interest = #{unemploymentSupplementInterest,jdbcType=DOUBLE},
      unemployment_late_fees = #{unemploymentLateFees,jdbcType=DOUBLE},
      injury_radix = #{injuryRadix,jdbcType=DOUBLE},
      injury_company_pay = #{injuryCompanyPay,jdbcType=DOUBLE},
      injury_person_pay = #{injuryPersonPay,jdbcType=DOUBLE},
      injury_company_supplement_pay = #{injuryCompanySupplementPay,jdbcType=DOUBLE},
      injury_company_person_pay = #{injuryCompanyPersonPay,jdbcType=DOUBLE},
      injury_supplement_interest = #{injurySupplementInterest,jdbcType=DOUBLE},
      injury_late_fees = #{injuryLateFees,jdbcType=DOUBLE},
      procreate_radix = #{procreateRadix,jdbcType=DOUBLE},
      procreate_company_pay = #{procreateCompanyPay,jdbcType=DOUBLE},
      procreate_person_pay = #{procreatePersonPay,jdbcType=DOUBLE},
      procreate_company_supplement_pay = #{procreateCompanySupplementPay,jdbcType=DOUBLE},
      procreate_company_person_pay = #{procreateCompanyPersonPay,jdbcType=DOUBLE},
      procreate_supplement_interest = #{procreateSupplementInterest,jdbcType=DOUBLE},
      procreate_late_fees = #{procreateLateFees,jdbcType=DOUBLE},
      medical_treatment_radix = #{medicalTreatmentRadix,jdbcType=DOUBLE},
      medical_treatment_company_pay = #{medicalTreatmentCompanyPay,jdbcType=DOUBLE},
      medical_treatment_person_pay = #{medicalTreatmentPersonPay,jdbcType=DOUBLE},
      medical_treatment_company_supplement_pay = #{medicalTreatmentCompanySupplementPay,jdbcType=DOUBLE},
      medical_treatment_company_person_pay = #{medicalTreatmentCompanyPersonPay,jdbcType=DOUBLE},
      medical_treatment_supplement_interest = #{medicalTreatmentSupplementInterest,jdbcType=DOUBLE},
      medical_treatment_late_fees = #{medicalTreatmentLateFees,jdbcType=DOUBLE},
      serious_illness_treatment_radix = #{seriousIllnessTreatmentRadix,jdbcType=DOUBLE},
      serious_illness_treatment_company_pay = #{seriousIllnessTreatmentCompanyPay,jdbcType=DOUBLE},
      serious_illness_treatment_person_pay = #{seriousIllnessTreatmentPersonPay,jdbcType=DOUBLE},
      serious_illness_treatment_company_supplement_pay = #{seriousIllnessTreatmentCompanySupplementPay,jdbcType=DOUBLE},
      serious_illness_treatment_company_person_pay = #{seriousIllnessTreatmentCompanyPersonPay,jdbcType=DOUBLE},
      serious_illness_treatment_supplement_interest = #{seriousIllnessTreatmentSupplementInterest,jdbcType=DOUBLE},
      serious_illness_treatment_late_fees = #{seriousIllnessTreatmentLateFees,jdbcType=DOUBLE},
      disability_benefit = #{disabilityBenefit,jdbcType=DOUBLE},
      service_charge = #{serviceCharge,jdbcType=DOUBLE},
      social_security_total = #{socialSecurityTotal,jdbcType=DOUBLE},
      accumulation_fund_radix = #{accumulationFundRadix,jdbcType=DOUBLE},
      accumulation_fund_old_radix = #{accumulationFundOldRadix,jdbcType=DOUBLE},
      accumulation_fund_old_ratio = #{accumulationFundOldRatio,jdbcType=VARCHAR},
      accumulation_fund_person_ratio = #{accumulationFundPersonRatio,jdbcType=VARCHAR},
      accumulation_fund_company_ratio = #{accumulationFundCompanyRatio,jdbcType=VARCHAR},
      accumulation_fund_company_pay = #{accumulationFundCompanyPay,jdbcType=DOUBLE},
      accumulation_fund_person_pay = #{accumulationFundPersonPay,jdbcType=DOUBLE},
      accumulation_fund_total = #{accumulationFundTotal,jdbcType=DOUBLE},
      accumulation_fund_account = #{accumulationFundAccount,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR}
    where cd_id = #{cdId,jdbcType=INTEGER}
  </update>
	

	<select id="selectDGhomeAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cost_dg
		where supplier_id=#{supplierId} and
		reporting_period=#{reportingPeriod}
		order by cd_id limit
		${pages},${pageSize}
	</select>

	<select id="selectDGhomeAllBySupplierId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cost_dg
		where supplier_id=#{supplierId} and
		reporting_period=#{reportingPeriod}
		order by cd_id
	</select>

	<select id="selectEmployeeName" resultType="java.lang.String">
		select name from
		cost_dg where supplier_id=#{supplierId}
		and
		reporting_period=#{reportingPeriod} and
		certificate_number=#{certificateNumber}
	</select>

	<!-- 更新用户公积金数据 -->
	<update id="updateAccumulationFund" parameterType="costDg">
		update
		cost_dg
		set
		accumulation_fund_radix = #{accumulationFundRadix,jdbcType=DOUBLE},
		accumulation_fund_old_radix =
		#{accumulationFundOldRadix,jdbcType=DOUBLE},
		accumulation_fund_old_ratio =
		#{accumulationFundOldRatio,jdbcType=VARCHAR},
		accumulation_fund_person_ratio =
		#{accumulationFundPersonRatio,jdbcType=VARCHAR},
		accumulation_fund_company_ratio =
		#{accumulationFundCompanyRatio,jdbcType=VARCHAR},
		accumulation_fund_company_pay =
		#{accumulationFundCompanyPay,jdbcType=DOUBLE},
		accumulation_fund_person_pay =
		#{accumulationFundPersonPay,jdbcType=DOUBLE},
		accumulation_fund_total = #{accumulationFundTotal,jdbcType=DOUBLE},
		accumulation_fund_account = #{accumulationFundAccount,jdbcType=VARCHAR},
		company = #{company,jdbcType=VARCHAR},
		manager = #{manager,jdbcType=VARCHAR}
		where
		reporting_period=#{reportingPeriod}
		and
		certificate_number=#{certificateNumber}
	</update>

	<delete id="deleteDGhomeDetails">
		delete from cost_dg where supplier_id=#{supplierId}
		and
		reporting_period=#{reportingPeriod}
	</delete>

	<!-- 根据月份、身份证号码查询费用信息是否已经导入系统 -->
	<select id="isCostImport" resultType="int">
		select
		cd_id
		from
		cost_dg
		where
		reporting_period = #{yearMonth}
		and
		certificate_number =
		#{certificateNumber}
	</select>

	<!-- 修改社保费用信息 -->
	<update id="updateCostDg" parameterType="costDg">
		update
		cost_dg
		set
		pension_radix =#{pensionRadix},
		pension_company_pay=#{pensionCompanyPay},
		pension_person_pay=#{pensionPersonPay},
		pension_company_supplement_pay=#{pensionCompanySupplementPay},
		pension_company_person_pay =#{pensionCompanyPersonPay},
		pension_supplement_interest =#{pensionSupplementInterest},
		pension_late_fees=#{pensionLateFees},

		unemployment_radix =#{unemploymentRadix},
		unemployment_company_pay
		=#{unemploymentCompanyPay},
		unemployment_person_pay=#{unemploymentPersonPay},
		unemployment_company_supplement_pay
		=#{unemploymentCompanySupplementPay},
		unemployment_company_person_pay
		=#{unemploymentCompanyPersonPay},
		unemployment_supplement_interest
		=#{unemploymentSupplementInterest},
		unemployment_late_fees=#{unemploymentLateFees},

		injury_radix=#{injuryRadix},
		injury_company_pay=#{injuryCompanyPay},
		injury_person_pay=#{injuryPersonPay},
		injury_company_supplement_pay=#{injuryCompanySupplementPay},
		injury_company_person_pay=#{injuryCompanyPersonPay},
		injury_supplement_interest=#{injurySupplementInterest},
		injury_late_fees=#{injuryLateFees},

		procreate_radix=#{procreateRadix},
		procreate_company_pay=#{procreateCompanyPay},
		procreate_person_pay
		=#{procreatePersonPay},
		procreate_company_supplement_pay=#{procreateCompanySupplementPay},
		procreate_company_person_pay=#{procreateCompanyPersonPay},
		procreate_supplement_interest=#{procreateSupplementInterest},
		procreate_late_fees=#{procreateLateFees},

		medical_treatment_radix=#{medicalTreatmentRadix},
		medical_treatment_company_pay=#{medicalTreatmentCompanyPay},
		medical_treatment_person_pay=#{medicalTreatmentPersonPay},
		medical_treatment_company_supplement_pay=#{medicalTreatmentCompanySupplementPay},
		medical_treatment_company_person_pay=#{medicalTreatmentCompanyPersonPay},
		medical_treatment_supplement_interest=#{medicalTreatmentSupplementInterest},
		medical_treatment_late_fees=#{medicalTreatmentLateFees},

		serious_illness_treatment_radix=#{seriousIllnessTreatmentRadix},
		serious_illness_treatment_company_pay=#{seriousIllnessTreatmentCompanyPay},
		serious_illness_treatment_person_pay=#{seriousIllnessTreatmentPersonPay},
		serious_illness_treatment_company_supplement_pay=#{seriousIllnessTreatmentCompanySupplementPay},
		serious_illness_treatment_company_person_pay=#{seriousIllnessTreatmentCompanyPersonPay},
		serious_illness_treatment_supplement_interest=#{seriousIllnessTreatmentSupplementInterest},
		serious_illness_treatment_late_fees=#{seriousIllnessTreatmentLateFees}
		where
		reporting_period = #{reportingPeriod}
		and
		certificate_number = #{certificateNumber}
	</update>
	
	 <!-- 所有自有户费用信息  -->
	<select id="costGroupBySupplier" resultType="map">
		SELECT
		s.s_id,
		s.supplier_name,
		cd.reporting_period,
		sum(cd.social_security_total+cd.accumulation_fund_total) gongsiHeji,
		sum(cd.social_security_total) shebaoHeji,
		sum(cd.accumulation_fund_company_pay) gongjijinGongsi,
		sum(cd.accumulation_fund_person_pay) gongjijinGeren,
		sum(cd.accumulation_fund_total) gongjijinHeji
		FROM
		cost_dg cd,supplier s
		WHERE
		s.s_id = cd.supplier_id
		AND
		cd.reporting_period = #{yearMonth}
		GROUP BY
		supplier_id
	</select>
	
	<select id="selectCostBySupplier" resultMap="BaseResultMap">
	    SELECT
	    <include refid="Base_Column_List"/>
	    FROM
	    cost_dg
	    WHERE
	    reporting_period = #{yearMonth}
	    AND
	    supplier_id = #{supplierId}
	</select>

</mapper>