<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianmi.mapper.EmployeeFuwufanganMapper">
	<resultMap id="BaseResultMap" type="com.dianmi.model.EmployeeFuwufangan">
		<constructor>
			<idArg column="ef_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="zaice_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="yanglao_gongsi" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="yanglao_geren" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="jiben_yiliao_gongsi" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="jiben_yiliao_geren" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="shiye_gongsi" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="shiye_geren" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="dabing_yiliao_gongsi" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="dabing_yiliao_geren" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="shengyu_qiye" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="gongshang_qiye" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="fuwufei_gongsi" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="canlianjin_gongsi" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="qita_gongsi" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="qita_geren" jdbcType="DOUBLE" javaType="java.lang.Double" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		ef_id, zaice_id, yanglao_gongsi, yanglao_geren,
		jiben_yiliao_gongsi,
		jiben_yiliao_geren,
		shiye_gongsi, shiye_geren,
		dabing_yiliao_gongsi, dabing_yiliao_geren, shengyu_qiye,
		gongshang_qiye, fuwufei_gongsi, canlianjin_gongsi, qita_gongsi,
		qita_geren
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from employee_fuwufangan
		where ef_id = #{efId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		employee_fuwufangan
		where ef_id = #{efId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dianmi.model.EmployeeFuwufangan">
		insert into
		employee_fuwufangan (ef_id, zaice_id, yanglao_gongsi,
		yanglao_geren,
		jiben_yiliao_gongsi, jiben_yiliao_geren,
		shiye_gongsi, shiye_geren,
		dabing_yiliao_gongsi,
		dabing_yiliao_geren, shengyu_qiye,
		gongshang_qiye,
		fuwufei_gongsi, canlianjin_gongsi, qita_gongsi,
		qita_geren)
		values (#{efId,jdbcType=INTEGER},
		#{zaiceId,jdbcType=INTEGER},
		#{yanglaoGongsi,jdbcType=DOUBLE},
		#{yanglaoGeren,jdbcType=DOUBLE}, #{jibenYiliaoGongsi,jdbcType=DOUBLE},
		#{jibenYiliaoGeren,jdbcType=DOUBLE},
		#{shiyeGongsi,jdbcType=DOUBLE},
		#{shiyeGeren,jdbcType=DOUBLE}, #{dabingYiliaoGongsi,jdbcType=DOUBLE},
		#{dabingYiliaoGeren,jdbcType=DOUBLE}, #{shengyuQiye,jdbcType=DOUBLE},
		#{gongshangQiye,jdbcType=DOUBLE},
		#{fuwufeiGongsi,jdbcType=DOUBLE},
		#{canlianjinGongsi,jdbcType=DOUBLE}, #{qitaGongsi,jdbcType=DOUBLE},
		#{qitaGeren,jdbcType=DOUBLE})
	</insert>
	<insert id="insertSelective" parameterType="com.dianmi.model.EmployeeFuwufangan">
		insert into employee_fuwufangan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="efId != null">
				ef_id,
			</if>
			<if test="zaiceId != null">
				zaice_id,
			</if>
			<if test="yanglaoGongsi != null">
				yanglao_gongsi,
			</if>
			<if test="yanglaoGeren != null">
				yanglao_geren,
			</if>
			<if test="jibenYiliaoGongsi != null">
				jiben_yiliao_gongsi,
			</if>
			<if test="jibenYiliaoGeren != null">
				jiben_yiliao_geren,
			</if>
			<if test="shiyeGongsi != null">
				shiye_gongsi,
			</if>
			<if test="shiyeGeren != null">
				shiye_geren,
			</if>
			<if test="dabingYiliaoGongsi != null">
				dabing_yiliao_gongsi,
			</if>
			<if test="dabingYiliaoGeren != null">
				dabing_yiliao_geren,
			</if>
			<if test="shengyuQiye != null">
				shengyu_qiye,
			</if>
			<if test="gongshangQiye != null">
				gongshang_qiye,
			</if>
			<if test="fuwufeiGongsi != null">
				fuwufei_gongsi,
			</if>
			<if test="canlianjinGongsi != null">
				canlianjin_gongsi,
			</if>
			<if test="qitaGongsi != null">
				qita_gongsi,
			</if>
			<if test="qitaGeren != null">
				qita_geren,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="efId != null">
				#{efId,jdbcType=INTEGER},
			</if>
			<if test="zaiceId != null">
				#{zaiceId,jdbcType=INTEGER},
			</if>
			<if test="yanglaoGongsi != null">
				#{yanglaoGongsi,jdbcType=DOUBLE},
			</if>
			<if test="yanglaoGeren != null">
				#{yanglaoGeren,jdbcType=DOUBLE},
			</if>
			<if test="jibenYiliaoGongsi != null">
				#{jibenYiliaoGongsi,jdbcType=DOUBLE},
			</if>
			<if test="jibenYiliaoGeren != null">
				#{jibenYiliaoGeren,jdbcType=DOUBLE},
			</if>
			<if test="shiyeGongsi != null">
				#{shiyeGongsi,jdbcType=DOUBLE},
			</if>
			<if test="shiyeGeren != null">
				#{shiyeGeren,jdbcType=DOUBLE},
			</if>
			<if test="dabingYiliaoGongsi != null">
				#{dabingYiliaoGongsi,jdbcType=DOUBLE},
			</if>
			<if test="dabingYiliaoGeren != null">
				#{dabingYiliaoGeren,jdbcType=DOUBLE},
			</if>
			<if test="shengyuQiye != null">
				#{shengyuQiye,jdbcType=DOUBLE},
			</if>
			<if test="gongshangQiye != null">
				#{gongshangQiye,jdbcType=DOUBLE},
			</if>
			<if test="fuwufeiGongsi != null">
				#{fuwufeiGongsi,jdbcType=DOUBLE},
			</if>
			<if test="canlianjinGongsi != null">
				#{canlianjinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="qitaGongsi != null">
				#{qitaGongsi,jdbcType=DOUBLE},
			</if>
			<if test="qitaGeren != null">
				#{qitaGeren,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dianmi.model.EmployeeFuwufangan">
		update employee_fuwufangan
		<set>
			<if test="zaiceId != null">
				zaice_id = #{zaiceId,jdbcType=INTEGER},
			</if>
			<if test="yanglaoGongsi != null">
				yanglao_gongsi = #{yanglaoGongsi,jdbcType=DOUBLE},
			</if>
			<if test="yanglaoGeren != null">
				yanglao_geren = #{yanglaoGeren,jdbcType=DOUBLE},
			</if>
			<if test="jibenYiliaoGongsi != null">
				jiben_yiliao_gongsi =
				#{jibenYiliaoGongsi,jdbcType=DOUBLE},
			</if>
			<if test="jibenYiliaoGeren != null">
				jiben_yiliao_geren = #{jibenYiliaoGeren,jdbcType=DOUBLE},
			</if>
			<if test="shiyeGongsi != null">
				shiye_gongsi = #{shiyeGongsi,jdbcType=DOUBLE},
			</if>
			<if test="shiyeGeren != null">
				shiye_geren = #{shiyeGeren,jdbcType=DOUBLE},
			</if>
			<if test="dabingYiliaoGongsi != null">
				dabing_yiliao_gongsi =
				#{dabingYiliaoGongsi,jdbcType=DOUBLE},
			</if>
			<if test="dabingYiliaoGeren != null">
				dabing_yiliao_geren =
				#{dabingYiliaoGeren,jdbcType=DOUBLE},
			</if>
			<if test="shengyuQiye != null">
				shengyu_qiye = #{shengyuQiye,jdbcType=DOUBLE},
			</if>
			<if test="gongshangQiye != null">
				gongshang_qiye = #{gongshangQiye,jdbcType=DOUBLE},
			</if>
			<if test="fuwufeiGongsi != null">
				fuwufei_gongsi = #{fuwufeiGongsi,jdbcType=DOUBLE},
			</if>
			<if test="canlianjinGongsi != null">
				canlianjin_gongsi = #{canlianjinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="qitaGongsi != null">
				qita_gongsi = #{qitaGongsi,jdbcType=DOUBLE},
			</if>
			<if test="qitaGeren != null">
				qita_geren = #{qitaGeren,jdbcType=DOUBLE},
			</if>
		</set>
		where ef_id = #{efId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dianmi.model.EmployeeFuwufangan">
		update
		employee_fuwufangan
		set zaice_id = #{zaiceId,jdbcType=INTEGER},
		yanglao_gongsi = #{yanglaoGongsi,jdbcType=DOUBLE},
		yanglao_geren =
		#{yanglaoGeren,jdbcType=DOUBLE},
		jiben_yiliao_gongsi =
		#{jibenYiliaoGongsi,jdbcType=DOUBLE},
		jiben_yiliao_geren =
		#{jibenYiliaoGeren,jdbcType=DOUBLE},
		shiye_gongsi =
		#{shiyeGongsi,jdbcType=DOUBLE},
		shiye_geren =
		#{shiyeGeren,jdbcType=DOUBLE},
		dabing_yiliao_gongsi =
		#{dabingYiliaoGongsi,jdbcType=DOUBLE},
		dabing_yiliao_geren =
		#{dabingYiliaoGeren,jdbcType=DOUBLE},
		shengyu_qiye =
		#{shengyuQiye,jdbcType=DOUBLE},
		gongshang_qiye =
		#{gongshangQiye,jdbcType=DOUBLE},
		fuwufei_gongsi =
		#{fuwufeiGongsi,jdbcType=DOUBLE},
		canlianjin_gongsi =
		#{canlianjinGongsi,jdbcType=DOUBLE},
		qita_gongsi =
		#{qitaGongsi,jdbcType=DOUBLE},
		qita_geren =
		#{qitaGeren,jdbcType=DOUBLE}
		where ef_id = #{efId,jdbcType=INTEGER}
	</update>

	<update id="updateByEmployeeInfo" parameterType="employeeFuwufangan">
		update
		employee_fuwufangan
		set
		yanglao_gongsi =
		#{yanglaoGongsi,jdbcType=DOUBLE},
		yanglao_geren =
		#{yanglaoGeren,jdbcType=DOUBLE},
		jiben_yiliao_gongsi =
		#{jibenYiliaoGongsi,jdbcType=DOUBLE},
		jiben_yiliao_geren =
		#{jibenYiliaoGeren,jdbcType=DOUBLE},
		shiye_gongsi =
		#{shiyeGongsi,jdbcType=DOUBLE},
		shiye_geren =
		#{shiyeGeren,jdbcType=DOUBLE},
		dabing_yiliao_gongsi =
		#{dabingYiliaoGongsi,jdbcType=DOUBLE},
		dabing_yiliao_geren =
		#{dabingYiliaoGeren,jdbcType=DOUBLE},
		shengyu_qiye =
		#{shengyuQiye,jdbcType=DOUBLE},
		gongshang_qiye =
		#{gongshangQiye,jdbcType=DOUBLE},
		fuwufei_gongsi =
		#{fuwufeiGongsi,jdbcType=DOUBLE},
		canlianjin_gongsi =
		#{canlianjinGongsi,jdbcType=DOUBLE},
		qita_gongsi =
		#{qitaGongsi,jdbcType=DOUBLE},
		qita_geren =
		#{qitaGeren,jdbcType=DOUBLE}
		where
		zaice_id =
		#{zaiceId,jdbcType=INTEGER}
	</update>
</mapper>