<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.mapper.FulitaoMapper">
  <resultMap id="BaseResultMap" type="com.dianmi.model.Fulitao">
    <constructor>
      <idArg column="f_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="city_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="supplier_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="supplier_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="yanglao_zuidi_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="yanglao_zuigao_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="yanglao_qiye_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="yanglao_geren_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="yanglao_qiye_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="yanglao_geren_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="yanglao_implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="yanglao_beizhu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jiben_yiliao_zuidi_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="jiben_yiliao_zuigao_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="jiben_yiliao_qiye_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jiben_yiliao_geren_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jiben_yiliao_qiye_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="jiben_yiliao_geren_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="jiben_yiliao_implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="jiben_yiliao_beizhu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shiye_zuidi_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shiye_zuigao_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shiye_qiye_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shiye_geren_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shiye_qiye_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shiye_geren_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shiye_implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shiye_beizhu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gongshang_zuidi_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="gongshang_zuigao_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="gongshang_qiye_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gongshang_qiye_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="gongshang_implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gongshang_beizhu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shengyu_zuidi_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shengyu_zuigao_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shengyu_qiye_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shengyu_qiye_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shengyu_implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shengyu_beizhu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dabing_zuidi_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="dabing_zuigao_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="dabing_qiye_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dabing_geren_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dabing_qiye_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="dabing_geren_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="dabing_implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dabing_beizhu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shangcan_zuidi_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shangcan_zuigao_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shangcan_qiye_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shangcan_geren_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shangcan_qiye_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shangcan_geren_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shangcan_implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shangcan_beizhu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gongjijin_zuidi_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="gongjijin_zuigao_jishu" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="gongjijin_qiye_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gongjijin_geren_bili" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gongjijin_qiye_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="gongjijin_geren_jiaofei" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="gongjijin_implement_date" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gongjijin_beizhu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="province_avg_salary" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="province_implement_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="city_avg_salary" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="city_implement_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="min_salary_standard" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="min_salary_implement_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="version" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    f_id, city_id, supplier_id, supplier_name, product_name, description, implement_date, yanglao_zuidi_jishu,
    yanglao_zuigao_jishu, yanglao_qiye_bili, yanglao_geren_bili, yanglao_qiye_jiaofei, 
    yanglao_geren_jiaofei, yanglao_implement_date, yanglao_beizhu, jiben_yiliao_zuidi_jishu, 
    jiben_yiliao_zuigao_jishu, jiben_yiliao_qiye_bili, jiben_yiliao_geren_bili, jiben_yiliao_qiye_jiaofei, 
    jiben_yiliao_geren_jiaofei, jiben_yiliao_implement_date, jiben_yiliao_beizhu, shiye_zuidi_jishu, 
    shiye_zuigao_jishu, shiye_qiye_bili, shiye_geren_bili, shiye_qiye_jiaofei, shiye_geren_jiaofei, 
    shiye_implement_date, shiye_beizhu, gongshang_zuidi_jishu, gongshang_zuigao_jishu, 
    gongshang_qiye_bili, gongshang_qiye_jiaofei, gongshang_implement_date, gongshang_beizhu, 
    shengyu_zuidi_jishu, shengyu_zuigao_jishu, shengyu_qiye_bili, shengyu_qiye_jiaofei, 
    shengyu_implement_date, shengyu_beizhu, dabing_zuidi_jishu, dabing_zuigao_jishu, 
    dabing_qiye_bili, dabing_geren_bili, dabing_qiye_jiaofei, dabing_geren_jiaofei, dabing_implement_date, 
    dabing_beizhu, shangcan_zuidi_jishu, shangcan_zuigao_jishu, shangcan_qiye_bili, shangcan_geren_bili, 
    shangcan_qiye_jiaofei, shangcan_geren_jiaofei, shangcan_implement_date, shangcan_beizhu, 
    gongjijin_zuidi_jishu, gongjijin_zuigao_jishu, gongjijin_qiye_bili, gongjijin_geren_bili, 
    gongjijin_qiye_jiaofei, gongjijin_geren_jiaofei, gongjijin_implement_date, gongjijin_beizhu, 
    province_avg_salary, province_implement_date, city_avg_salary, city_implement_date, 
    min_salary_standard, min_salary_implement_date, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fulitao
    where f_id = #{fId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fulitao
    where f_id = #{fId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dianmi.model.Fulitao">
    insert into fulitao (f_id, city_id, supplier_id, 
      product_name, description, implement_date, 
      yanglao_zuidi_jishu, yanglao_zuigao_jishu, yanglao_qiye_bili, 
      yanglao_geren_bili, yanglao_qiye_jiaofei, yanglao_geren_jiaofei, 
      yanglao_implement_date, yanglao_beizhu, jiben_yiliao_zuidi_jishu, 
      jiben_yiliao_zuigao_jishu, jiben_yiliao_qiye_bili, 
      jiben_yiliao_geren_bili, jiben_yiliao_qiye_jiaofei, 
      jiben_yiliao_geren_jiaofei, jiben_yiliao_implement_date, 
      jiben_yiliao_beizhu, shiye_zuidi_jishu, shiye_zuigao_jishu, 
      shiye_qiye_bili, shiye_geren_bili, shiye_qiye_jiaofei, 
      shiye_geren_jiaofei, shiye_implement_date, shiye_beizhu, 
      gongshang_zuidi_jishu, gongshang_zuigao_jishu, 
      gongshang_qiye_bili, gongshang_qiye_jiaofei, 
      gongshang_implement_date, gongshang_beizhu, 
      shengyu_zuidi_jishu, shengyu_zuigao_jishu, shengyu_qiye_bili, 
      shengyu_qiye_jiaofei, shengyu_implement_date, 
      shengyu_beizhu, dabing_zuidi_jishu, dabing_zuigao_jishu, 
      dabing_qiye_bili, dabing_geren_bili, dabing_qiye_jiaofei, 
      dabing_geren_jiaofei, dabing_implement_date, 
      dabing_beizhu, shangcan_zuidi_jishu, shangcan_zuigao_jishu, 
      shangcan_qiye_bili, shangcan_geren_bili, shangcan_qiye_jiaofei, 
      shangcan_geren_jiaofei, shangcan_implement_date, 
      shangcan_beizhu, gongjijin_zuidi_jishu, gongjijin_zuigao_jishu, 
      gongjijin_qiye_bili, gongjijin_geren_bili, 
      gongjijin_qiye_jiaofei, gongjijin_geren_jiaofei, 
      gongjijin_implement_date, gongjijin_beizhu, 
      province_avg_salary, province_implement_date, city_avg_salary, 
      city_implement_date, min_salary_standard, min_salary_implement_date, 
      version)
    values (#{fId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{supplierId,jdbcType=INTEGER}, 
      #{productName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{implementDate,jdbcType=VARCHAR}, 
      #{yanglaoZuidiJishu,jdbcType=DOUBLE}, #{yanglaoZuigaoJishu,jdbcType=DOUBLE}, #{yanglaoQiyeBili,jdbcType=VARCHAR}, 
      #{yanglaoGerenBili,jdbcType=VARCHAR}, #{yanglaoQiyeJiaofei,jdbcType=DOUBLE}, #{yanglaoGerenJiaofei,jdbcType=DOUBLE}, 
      #{yanglaoImplementDate,jdbcType=VARCHAR}, #{yanglaoBeizhu,jdbcType=VARCHAR}, #{jibenYiliaoZuidiJishu,jdbcType=DOUBLE}, 
      #{jibenYiliaoZuigaoJishu,jdbcType=DOUBLE}, #{jibenYiliaoQiyeBili,jdbcType=VARCHAR}, 
      #{jibenYiliaoGerenBili,jdbcType=VARCHAR}, #{jibenYiliaoQiyeJiaofei,jdbcType=DOUBLE}, 
      #{jibenYiliaoGerenJiaofei,jdbcType=DOUBLE}, #{jibenYiliaoImplementDate,jdbcType=VARCHAR}, 
      #{jibenYiliaoBeizhu,jdbcType=VARCHAR}, #{shiyeZuidiJishu,jdbcType=DOUBLE}, #{shiyeZuigaoJishu,jdbcType=DOUBLE}, 
      #{shiyeQiyeBili,jdbcType=VARCHAR}, #{shiyeGerenBili,jdbcType=VARCHAR}, #{shiyeQiyeJiaofei,jdbcType=DOUBLE}, 
      #{shiyeGerenJiaofei,jdbcType=DOUBLE}, #{shiyeImplementDate,jdbcType=VARCHAR}, #{shiyeBeizhu,jdbcType=VARCHAR}, 
      #{gongshangZuidiJishu,jdbcType=DOUBLE}, #{gongshangZuigaoJishu,jdbcType=DOUBLE}, 
      #{gongshangQiyeBili,jdbcType=VARCHAR}, #{gongshangQiyeJiaofei,jdbcType=DOUBLE}, 
      #{gongshangImplementDate,jdbcType=VARCHAR}, #{gongshangBeizhu,jdbcType=VARCHAR}, 
      #{shengyuZuidiJishu,jdbcType=DOUBLE}, #{shengyuZuigaoJishu,jdbcType=DOUBLE}, #{shengyuQiyeBili,jdbcType=VARCHAR}, 
      #{shengyuQiyeJiaofei,jdbcType=DOUBLE}, #{shengyuImplementDate,jdbcType=VARCHAR}, 
      #{shengyuBeizhu,jdbcType=VARCHAR}, #{dabingZuidiJishu,jdbcType=DOUBLE}, #{dabingZuigaoJishu,jdbcType=DOUBLE}, 
      #{dabingQiyeBili,jdbcType=VARCHAR}, #{dabingGerenBili,jdbcType=VARCHAR}, #{dabingQiyeJiaofei,jdbcType=DOUBLE}, 
      #{dabingGerenJiaofei,jdbcType=DOUBLE}, #{dabingImplementDate,jdbcType=VARCHAR}, 
      #{dabingBeizhu,jdbcType=VARCHAR}, #{shangcanZuidiJishu,jdbcType=DOUBLE}, #{shangcanZuigaoJishu,jdbcType=DOUBLE}, 
      #{shangcanQiyeBili,jdbcType=VARCHAR}, #{shangcanGerenBili,jdbcType=VARCHAR}, #{shangcanQiyeJiaofei,jdbcType=DOUBLE}, 
      #{shangcanGerenJiaofei,jdbcType=DOUBLE}, #{shangcanImplementDate,jdbcType=VARCHAR}, 
      #{shangcanBeizhu,jdbcType=VARCHAR}, #{gongjijinZuidiJishu,jdbcType=DOUBLE}, #{gongjijinZuigaoJishu,jdbcType=DOUBLE}, 
      #{gongjijinQiyeBili,jdbcType=VARCHAR}, #{gongjijinGerenBili,jdbcType=VARCHAR}, 
      #{gongjijinQiyeJiaofei,jdbcType=DOUBLE}, #{gongjijinGerenJiaofei,jdbcType=DOUBLE}, 
      #{gongjijinImplementDate,jdbcType=VARCHAR}, #{gongjijinBeizhu,jdbcType=VARCHAR}, 
      #{provinceAvgSalary,jdbcType=DOUBLE}, #{provinceImplementDate,jdbcType=DATE}, #{cityAvgSalary,jdbcType=DOUBLE}, 
      #{cityImplementDate,jdbcType=DATE}, #{minSalaryStandard,jdbcType=DOUBLE}, #{minSalaryImplementDate,jdbcType=DATE}, 
      #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dianmi.model.Fulitao">
    insert into fulitao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        f_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="implementDate != null">
        implement_date,
      </if>
      <if test="yanglaoZuidiJishu != null">
        yanglao_zuidi_jishu,
      </if>
      <if test="yanglaoZuigaoJishu != null">
        yanglao_zuigao_jishu,
      </if>
      <if test="yanglaoQiyeBili != null">
        yanglao_qiye_bili,
      </if>
      <if test="yanglaoGerenBili != null">
        yanglao_geren_bili,
      </if>
      <if test="yanglaoQiyeJiaofei != null">
        yanglao_qiye_jiaofei,
      </if>
      <if test="yanglaoGerenJiaofei != null">
        yanglao_geren_jiaofei,
      </if>
      <if test="yanglaoImplementDate != null">
        yanglao_implement_date,
      </if>
      <if test="yanglaoBeizhu != null">
        yanglao_beizhu,
      </if>
      <if test="jibenYiliaoZuidiJishu != null">
        jiben_yiliao_zuidi_jishu,
      </if>
      <if test="jibenYiliaoZuigaoJishu != null">
        jiben_yiliao_zuigao_jishu,
      </if>
      <if test="jibenYiliaoQiyeBili != null">
        jiben_yiliao_qiye_bili,
      </if>
      <if test="jibenYiliaoGerenBili != null">
        jiben_yiliao_geren_bili,
      </if>
      <if test="jibenYiliaoQiyeJiaofei != null">
        jiben_yiliao_qiye_jiaofei,
      </if>
      <if test="jibenYiliaoGerenJiaofei != null">
        jiben_yiliao_geren_jiaofei,
      </if>
      <if test="jibenYiliaoImplementDate != null">
        jiben_yiliao_implement_date,
      </if>
      <if test="jibenYiliaoBeizhu != null">
        jiben_yiliao_beizhu,
      </if>
      <if test="shiyeZuidiJishu != null">
        shiye_zuidi_jishu,
      </if>
      <if test="shiyeZuigaoJishu != null">
        shiye_zuigao_jishu,
      </if>
      <if test="shiyeQiyeBili != null">
        shiye_qiye_bili,
      </if>
      <if test="shiyeGerenBili != null">
        shiye_geren_bili,
      </if>
      <if test="shiyeQiyeJiaofei != null">
        shiye_qiye_jiaofei,
      </if>
      <if test="shiyeGerenJiaofei != null">
        shiye_geren_jiaofei,
      </if>
      <if test="shiyeImplementDate != null">
        shiye_implement_date,
      </if>
      <if test="shiyeBeizhu != null">
        shiye_beizhu,
      </if>
      <if test="gongshangZuidiJishu != null">
        gongshang_zuidi_jishu,
      </if>
      <if test="gongshangZuigaoJishu != null">
        gongshang_zuigao_jishu,
      </if>
      <if test="gongshangQiyeBili != null">
        gongshang_qiye_bili,
      </if>
      <if test="gongshangQiyeJiaofei != null">
        gongshang_qiye_jiaofei,
      </if>
      <if test="gongshangImplementDate != null">
        gongshang_implement_date,
      </if>
      <if test="gongshangBeizhu != null">
        gongshang_beizhu,
      </if>
      <if test="shengyuZuidiJishu != null">
        shengyu_zuidi_jishu,
      </if>
      <if test="shengyuZuigaoJishu != null">
        shengyu_zuigao_jishu,
      </if>
      <if test="shengyuQiyeBili != null">
        shengyu_qiye_bili,
      </if>
      <if test="shengyuQiyeJiaofei != null">
        shengyu_qiye_jiaofei,
      </if>
      <if test="shengyuImplementDate != null">
        shengyu_implement_date,
      </if>
      <if test="shengyuBeizhu != null">
        shengyu_beizhu,
      </if>
      <if test="dabingZuidiJishu != null">
        dabing_zuidi_jishu,
      </if>
      <if test="dabingZuigaoJishu != null">
        dabing_zuigao_jishu,
      </if>
      <if test="dabingQiyeBili != null">
        dabing_qiye_bili,
      </if>
      <if test="dabingGerenBili != null">
        dabing_geren_bili,
      </if>
      <if test="dabingQiyeJiaofei != null">
        dabing_qiye_jiaofei,
      </if>
      <if test="dabingGerenJiaofei != null">
        dabing_geren_jiaofei,
      </if>
      <if test="dabingImplementDate != null">
        dabing_implement_date,
      </if>
      <if test="dabingBeizhu != null">
        dabing_beizhu,
      </if>
      <if test="shangcanZuidiJishu != null">
        shangcan_zuidi_jishu,
      </if>
      <if test="shangcanZuigaoJishu != null">
        shangcan_zuigao_jishu,
      </if>
      <if test="shangcanQiyeBili != null">
        shangcan_qiye_bili,
      </if>
      <if test="shangcanGerenBili != null">
        shangcan_geren_bili,
      </if>
      <if test="shangcanQiyeJiaofei != null">
        shangcan_qiye_jiaofei,
      </if>
      <if test="shangcanGerenJiaofei != null">
        shangcan_geren_jiaofei,
      </if>
      <if test="shangcanImplementDate != null">
        shangcan_implement_date,
      </if>
      <if test="shangcanBeizhu != null">
        shangcan_beizhu,
      </if>
      <if test="gongjijinZuidiJishu != null">
        gongjijin_zuidi_jishu,
      </if>
      <if test="gongjijinZuigaoJishu != null">
        gongjijin_zuigao_jishu,
      </if>
      <if test="gongjijinQiyeBili != null">
        gongjijin_qiye_bili,
      </if>
      <if test="gongjijinGerenBili != null">
        gongjijin_geren_bili,
      </if>
      <if test="gongjijinQiyeJiaofei != null">
        gongjijin_qiye_jiaofei,
      </if>
      <if test="gongjijinGerenJiaofei != null">
        gongjijin_geren_jiaofei,
      </if>
      <if test="gongjijinImplementDate != null">
        gongjijin_implement_date,
      </if>
      <if test="gongjijinBeizhu != null">
        gongjijin_beizhu,
      </if>
      <if test="provinceAvgSalary != null">
        province_avg_salary,
      </if>
      <if test="provinceImplementDate != null">
        province_implement_date,
      </if>
      <if test="cityAvgSalary != null">
        city_avg_salary,
      </if>
      <if test="cityImplementDate != null">
        city_implement_date,
      </if>
      <if test="minSalaryStandard != null">
        min_salary_standard,
      </if>
      <if test="minSalaryImplementDate != null">
        min_salary_implement_date,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="implementDate != null">
        #{implementDate,jdbcType=VARCHAR},
      </if>
      <if test="yanglaoZuidiJishu != null">
        #{yanglaoZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="yanglaoZuigaoJishu != null">
        #{yanglaoZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="yanglaoQiyeBili != null">
        #{yanglaoQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="yanglaoGerenBili != null">
        #{yanglaoGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="yanglaoQiyeJiaofei != null">
        #{yanglaoQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="yanglaoGerenJiaofei != null">
        #{yanglaoGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="yanglaoImplementDate != null">
        #{yanglaoImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="yanglaoBeizhu != null">
        #{yanglaoBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="jibenYiliaoZuidiJishu != null">
        #{jibenYiliaoZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="jibenYiliaoZuigaoJishu != null">
        #{jibenYiliaoZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="jibenYiliaoQiyeBili != null">
        #{jibenYiliaoQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="jibenYiliaoGerenBili != null">
        #{jibenYiliaoGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="jibenYiliaoQiyeJiaofei != null">
        #{jibenYiliaoQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="jibenYiliaoGerenJiaofei != null">
        #{jibenYiliaoGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="jibenYiliaoImplementDate != null">
        #{jibenYiliaoImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="jibenYiliaoBeizhu != null">
        #{jibenYiliaoBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="shiyeZuidiJishu != null">
        #{shiyeZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="shiyeZuigaoJishu != null">
        #{shiyeZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="shiyeQiyeBili != null">
        #{shiyeQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="shiyeGerenBili != null">
        #{shiyeGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="shiyeQiyeJiaofei != null">
        #{shiyeQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shiyeGerenJiaofei != null">
        #{shiyeGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shiyeImplementDate != null">
        #{shiyeImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="shiyeBeizhu != null">
        #{shiyeBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="gongshangZuidiJishu != null">
        #{gongshangZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="gongshangZuigaoJishu != null">
        #{gongshangZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="gongshangQiyeBili != null">
        #{gongshangQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="gongshangQiyeJiaofei != null">
        #{gongshangQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="gongshangImplementDate != null">
        #{gongshangImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="gongshangBeizhu != null">
        #{gongshangBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="shengyuZuidiJishu != null">
        #{shengyuZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="shengyuZuigaoJishu != null">
        #{shengyuZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="shengyuQiyeBili != null">
        #{shengyuQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="shengyuQiyeJiaofei != null">
        #{shengyuQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shengyuImplementDate != null">
        #{shengyuImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="shengyuBeizhu != null">
        #{shengyuBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="dabingZuidiJishu != null">
        #{dabingZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="dabingZuigaoJishu != null">
        #{dabingZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="dabingQiyeBili != null">
        #{dabingQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="dabingGerenBili != null">
        #{dabingGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="dabingQiyeJiaofei != null">
        #{dabingQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="dabingGerenJiaofei != null">
        #{dabingGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="dabingImplementDate != null">
        #{dabingImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="dabingBeizhu != null">
        #{dabingBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="shangcanZuidiJishu != null">
        #{shangcanZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="shangcanZuigaoJishu != null">
        #{shangcanZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="shangcanQiyeBili != null">
        #{shangcanQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="shangcanGerenBili != null">
        #{shangcanGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="shangcanQiyeJiaofei != null">
        #{shangcanQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shangcanGerenJiaofei != null">
        #{shangcanGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shangcanImplementDate != null">
        #{shangcanImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="shangcanBeizhu != null">
        #{shangcanBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinZuidiJishu != null">
        #{gongjijinZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="gongjijinZuigaoJishu != null">
        #{gongjijinZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="gongjijinQiyeBili != null">
        #{gongjijinQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinGerenBili != null">
        #{gongjijinGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinQiyeJiaofei != null">
        #{gongjijinQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="gongjijinGerenJiaofei != null">
        #{gongjijinGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="gongjijinImplementDate != null">
        #{gongjijinImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinBeizhu != null">
        #{gongjijinBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="provinceAvgSalary != null">
        #{provinceAvgSalary,jdbcType=DOUBLE},
      </if>
      <if test="provinceImplementDate != null">
        #{provinceImplementDate,jdbcType=DATE},
      </if>
      <if test="cityAvgSalary != null">
        #{cityAvgSalary,jdbcType=DOUBLE},
      </if>
      <if test="cityImplementDate != null">
        #{cityImplementDate,jdbcType=DATE},
      </if>
      <if test="minSalaryStandard != null">
        #{minSalaryStandard,jdbcType=DOUBLE},
      </if>
      <if test="minSalaryImplementDate != null">
        #{minSalaryImplementDate,jdbcType=DATE},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dianmi.model.Fulitao">
    update fulitao
    <set>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="implementDate != null">
        implement_date = #{implementDate,jdbcType=VARCHAR},
      </if>
      <if test="yanglaoZuidiJishu != null">
        yanglao_zuidi_jishu = #{yanglaoZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="yanglaoZuigaoJishu != null">
        yanglao_zuigao_jishu = #{yanglaoZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="yanglaoQiyeBili != null">
        yanglao_qiye_bili = #{yanglaoQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="yanglaoGerenBili != null">
        yanglao_geren_bili = #{yanglaoGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="yanglaoQiyeJiaofei != null">
        yanglao_qiye_jiaofei = #{yanglaoQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="yanglaoGerenJiaofei != null">
        yanglao_geren_jiaofei = #{yanglaoGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="yanglaoImplementDate != null">
        yanglao_implement_date = #{yanglaoImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="yanglaoBeizhu != null">
        yanglao_beizhu = #{yanglaoBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="jibenYiliaoZuidiJishu != null">
        jiben_yiliao_zuidi_jishu = #{jibenYiliaoZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="jibenYiliaoZuigaoJishu != null">
        jiben_yiliao_zuigao_jishu = #{jibenYiliaoZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="jibenYiliaoQiyeBili != null">
        jiben_yiliao_qiye_bili = #{jibenYiliaoQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="jibenYiliaoGerenBili != null">
        jiben_yiliao_geren_bili = #{jibenYiliaoGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="jibenYiliaoQiyeJiaofei != null">
        jiben_yiliao_qiye_jiaofei = #{jibenYiliaoQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="jibenYiliaoGerenJiaofei != null">
        jiben_yiliao_geren_jiaofei = #{jibenYiliaoGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="jibenYiliaoImplementDate != null">
        jiben_yiliao_implement_date = #{jibenYiliaoImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="jibenYiliaoBeizhu != null">
        jiben_yiliao_beizhu = #{jibenYiliaoBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="shiyeZuidiJishu != null">
        shiye_zuidi_jishu = #{shiyeZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="shiyeZuigaoJishu != null">
        shiye_zuigao_jishu = #{shiyeZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="shiyeQiyeBili != null">
        shiye_qiye_bili = #{shiyeQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="shiyeGerenBili != null">
        shiye_geren_bili = #{shiyeGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="shiyeQiyeJiaofei != null">
        shiye_qiye_jiaofei = #{shiyeQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shiyeGerenJiaofei != null">
        shiye_geren_jiaofei = #{shiyeGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shiyeImplementDate != null">
        shiye_implement_date = #{shiyeImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="shiyeBeizhu != null">
        shiye_beizhu = #{shiyeBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="gongshangZuidiJishu != null">
        gongshang_zuidi_jishu = #{gongshangZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="gongshangZuigaoJishu != null">
        gongshang_zuigao_jishu = #{gongshangZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="gongshangQiyeBili != null">
        gongshang_qiye_bili = #{gongshangQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="gongshangQiyeJiaofei != null">
        gongshang_qiye_jiaofei = #{gongshangQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="gongshangImplementDate != null">
        gongshang_implement_date = #{gongshangImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="gongshangBeizhu != null">
        gongshang_beizhu = #{gongshangBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="shengyuZuidiJishu != null">
        shengyu_zuidi_jishu = #{shengyuZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="shengyuZuigaoJishu != null">
        shengyu_zuigao_jishu = #{shengyuZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="shengyuQiyeBili != null">
        shengyu_qiye_bili = #{shengyuQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="shengyuQiyeJiaofei != null">
        shengyu_qiye_jiaofei = #{shengyuQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shengyuImplementDate != null">
        shengyu_implement_date = #{shengyuImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="shengyuBeizhu != null">
        shengyu_beizhu = #{shengyuBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="dabingZuidiJishu != null">
        dabing_zuidi_jishu = #{dabingZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="dabingZuigaoJishu != null">
        dabing_zuigao_jishu = #{dabingZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="dabingQiyeBili != null">
        dabing_qiye_bili = #{dabingQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="dabingGerenBili != null">
        dabing_geren_bili = #{dabingGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="dabingQiyeJiaofei != null">
        dabing_qiye_jiaofei = #{dabingQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="dabingGerenJiaofei != null">
        dabing_geren_jiaofei = #{dabingGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="dabingImplementDate != null">
        dabing_implement_date = #{dabingImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="dabingBeizhu != null">
        dabing_beizhu = #{dabingBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="shangcanZuidiJishu != null">
        shangcan_zuidi_jishu = #{shangcanZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="shangcanZuigaoJishu != null">
        shangcan_zuigao_jishu = #{shangcanZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="shangcanQiyeBili != null">
        shangcan_qiye_bili = #{shangcanQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="shangcanGerenBili != null">
        shangcan_geren_bili = #{shangcanGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="shangcanQiyeJiaofei != null">
        shangcan_qiye_jiaofei = #{shangcanQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shangcanGerenJiaofei != null">
        shangcan_geren_jiaofei = #{shangcanGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="shangcanImplementDate != null">
        shangcan_implement_date = #{shangcanImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="shangcanBeizhu != null">
        shangcan_beizhu = #{shangcanBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinZuidiJishu != null">
        gongjijin_zuidi_jishu = #{gongjijinZuidiJishu,jdbcType=DOUBLE},
      </if>
      <if test="gongjijinZuigaoJishu != null">
        gongjijin_zuigao_jishu = #{gongjijinZuigaoJishu,jdbcType=DOUBLE},
      </if>
      <if test="gongjijinQiyeBili != null">
        gongjijin_qiye_bili = #{gongjijinQiyeBili,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinGerenBili != null">
        gongjijin_geren_bili = #{gongjijinGerenBili,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinQiyeJiaofei != null">
        gongjijin_qiye_jiaofei = #{gongjijinQiyeJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="gongjijinGerenJiaofei != null">
        gongjijin_geren_jiaofei = #{gongjijinGerenJiaofei,jdbcType=DOUBLE},
      </if>
      <if test="gongjijinImplementDate != null">
        gongjijin_implement_date = #{gongjijinImplementDate,jdbcType=VARCHAR},
      </if>
      <if test="gongjijinBeizhu != null">
        gongjijin_beizhu = #{gongjijinBeizhu,jdbcType=VARCHAR},
      </if>
      <if test="provinceAvgSalary != null">
        province_avg_salary = #{provinceAvgSalary,jdbcType=DOUBLE},
      </if>
      <if test="provinceImplementDate != null">
        province_implement_date = #{provinceImplementDate,jdbcType=DATE},
      </if>
      <if test="cityAvgSalary != null">
        city_avg_salary = #{cityAvgSalary,jdbcType=DOUBLE},
      </if>
      <if test="cityImplementDate != null">
        city_implement_date = #{cityImplementDate,jdbcType=DATE},
      </if>
      <if test="minSalaryStandard != null">
        min_salary_standard = #{minSalaryStandard,jdbcType=DOUBLE},
      </if>
      <if test="minSalaryImplementDate != null">
        min_salary_implement_date = #{minSalaryImplementDate,jdbcType=DATE},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where f_id = #{fId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dianmi.model.Fulitao">
    update fulitao
    set city_id = #{cityId,jdbcType=INTEGER},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      implement_date = #{implementDate,jdbcType=VARCHAR},
      yanglao_zuidi_jishu = #{yanglaoZuidiJishu,jdbcType=DOUBLE},
      yanglao_zuigao_jishu = #{yanglaoZuigaoJishu,jdbcType=DOUBLE},
      yanglao_qiye_bili = #{yanglaoQiyeBili,jdbcType=VARCHAR},
      yanglao_geren_bili = #{yanglaoGerenBili,jdbcType=VARCHAR},
      yanglao_qiye_jiaofei = #{yanglaoQiyeJiaofei,jdbcType=DOUBLE},
      yanglao_geren_jiaofei = #{yanglaoGerenJiaofei,jdbcType=DOUBLE},
      yanglao_implement_date = #{yanglaoImplementDate,jdbcType=VARCHAR},
      yanglao_beizhu = #{yanglaoBeizhu,jdbcType=VARCHAR},
      jiben_yiliao_zuidi_jishu = #{jibenYiliaoZuidiJishu,jdbcType=DOUBLE},
      jiben_yiliao_zuigao_jishu = #{jibenYiliaoZuigaoJishu,jdbcType=DOUBLE},
      jiben_yiliao_qiye_bili = #{jibenYiliaoQiyeBili,jdbcType=VARCHAR},
      jiben_yiliao_geren_bili = #{jibenYiliaoGerenBili,jdbcType=VARCHAR},
      jiben_yiliao_qiye_jiaofei = #{jibenYiliaoQiyeJiaofei,jdbcType=DOUBLE},
      jiben_yiliao_geren_jiaofei = #{jibenYiliaoGerenJiaofei,jdbcType=DOUBLE},
      jiben_yiliao_implement_date = #{jibenYiliaoImplementDate,jdbcType=VARCHAR},
      jiben_yiliao_beizhu = #{jibenYiliaoBeizhu,jdbcType=VARCHAR},
      shiye_zuidi_jishu = #{shiyeZuidiJishu,jdbcType=DOUBLE},
      shiye_zuigao_jishu = #{shiyeZuigaoJishu,jdbcType=DOUBLE},
      shiye_qiye_bili = #{shiyeQiyeBili,jdbcType=VARCHAR},
      shiye_geren_bili = #{shiyeGerenBili,jdbcType=VARCHAR},
      shiye_qiye_jiaofei = #{shiyeQiyeJiaofei,jdbcType=DOUBLE},
      shiye_geren_jiaofei = #{shiyeGerenJiaofei,jdbcType=DOUBLE},
      shiye_implement_date = #{shiyeImplementDate,jdbcType=VARCHAR},
      shiye_beizhu = #{shiyeBeizhu,jdbcType=VARCHAR},
      gongshang_zuidi_jishu = #{gongshangZuidiJishu,jdbcType=DOUBLE},
      gongshang_zuigao_jishu = #{gongshangZuigaoJishu,jdbcType=DOUBLE},
      gongshang_qiye_bili = #{gongshangQiyeBili,jdbcType=VARCHAR},
      gongshang_qiye_jiaofei = #{gongshangQiyeJiaofei,jdbcType=DOUBLE},
      gongshang_implement_date = #{gongshangImplementDate,jdbcType=VARCHAR},
      gongshang_beizhu = #{gongshangBeizhu,jdbcType=VARCHAR},
      shengyu_zuidi_jishu = #{shengyuZuidiJishu,jdbcType=DOUBLE},
      shengyu_zuigao_jishu = #{shengyuZuigaoJishu,jdbcType=DOUBLE},
      shengyu_qiye_bili = #{shengyuQiyeBili,jdbcType=VARCHAR},
      shengyu_qiye_jiaofei = #{shengyuQiyeJiaofei,jdbcType=DOUBLE},
      shengyu_implement_date = #{shengyuImplementDate,jdbcType=VARCHAR},
      shengyu_beizhu = #{shengyuBeizhu,jdbcType=VARCHAR},
      dabing_zuidi_jishu = #{dabingZuidiJishu,jdbcType=DOUBLE},
      dabing_zuigao_jishu = #{dabingZuigaoJishu,jdbcType=DOUBLE},
      dabing_qiye_bili = #{dabingQiyeBili,jdbcType=VARCHAR},
      dabing_geren_bili = #{dabingGerenBili,jdbcType=VARCHAR},
      dabing_qiye_jiaofei = #{dabingQiyeJiaofei,jdbcType=DOUBLE},
      dabing_geren_jiaofei = #{dabingGerenJiaofei,jdbcType=DOUBLE},
      dabing_implement_date = #{dabingImplementDate,jdbcType=VARCHAR},
      dabing_beizhu = #{dabingBeizhu,jdbcType=VARCHAR},
      shangcan_zuidi_jishu = #{shangcanZuidiJishu,jdbcType=DOUBLE},
      shangcan_zuigao_jishu = #{shangcanZuigaoJishu,jdbcType=DOUBLE},
      shangcan_qiye_bili = #{shangcanQiyeBili,jdbcType=VARCHAR},
      shangcan_geren_bili = #{shangcanGerenBili,jdbcType=VARCHAR},
      shangcan_qiye_jiaofei = #{shangcanQiyeJiaofei,jdbcType=DOUBLE},
      shangcan_geren_jiaofei = #{shangcanGerenJiaofei,jdbcType=DOUBLE},
      shangcan_implement_date = #{shangcanImplementDate,jdbcType=VARCHAR},
      shangcan_beizhu = #{shangcanBeizhu,jdbcType=VARCHAR},
      gongjijin_zuidi_jishu = #{gongjijinZuidiJishu,jdbcType=DOUBLE},
      gongjijin_zuigao_jishu = #{gongjijinZuigaoJishu,jdbcType=DOUBLE},
      gongjijin_qiye_bili = #{gongjijinQiyeBili,jdbcType=VARCHAR},
      gongjijin_geren_bili = #{gongjijinGerenBili,jdbcType=VARCHAR},
      gongjijin_qiye_jiaofei = #{gongjijinQiyeJiaofei,jdbcType=DOUBLE},
      gongjijin_geren_jiaofei = #{gongjijinGerenJiaofei,jdbcType=DOUBLE},
      gongjijin_implement_date = #{gongjijinImplementDate,jdbcType=VARCHAR},
      gongjijin_beizhu = #{gongjijinBeizhu,jdbcType=VARCHAR},
      province_avg_salary = #{provinceAvgSalary,jdbcType=DOUBLE},
      province_implement_date = #{provinceImplementDate,jdbcType=DATE},
      city_avg_salary = #{cityAvgSalary,jdbcType=DOUBLE},
      city_implement_date = #{cityImplementDate,jdbcType=DATE},
      min_salary_standard = #{minSalaryStandard,jdbcType=DOUBLE},
      min_salary_implement_date = #{minSalaryImplementDate,jdbcType=DATE},
      version = #{version,jdbcType=VARCHAR}
    where f_id = #{fId,jdbcType=INTEGER}
  </update>


  <select id="pageList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fulitao
  </select>
</mapper>