<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.dianmi.mapper.QingkuanMapper">
    <resultMap id="BaseResultMap" type="com.dianmi.model.Qingkuan">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="supplier_id" javaType="java.lang.Integer" jdbcType="TINYINT"/>
            <arg column="supplier_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.Byte" jdbcType="INTEGER"/>
            <arg column="state" javaType="java.lang.Byte" jdbcType="INTEGER"/>
            <arg column="reporting_period" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="customer_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="customer_id" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
            <arg column="mount_total" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="gerenshebao" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="gongsishebao" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="shebao_total" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="gongsicanbaojin" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="gerengongjijin" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="gongsigongjijin" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="gongjijin_total" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="fuwufei_total" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_date" javaType="java.util.Date" jdbcType="DOUBLE"/>
            <arg column="payment_date" javaType="java.util.Date" jdbcType="DOUBLE"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
      id, supplier_id,user_id ,type ,state , supplier_name,reporting_period ,
      customer_name, customer_id ,mount_total ,gerenshebao ,gongsishebao ,
      shebao_total ,gongsicanbaojin ,gerengongjijin ,gongsigongjijin ,
      gongjijin_total ,fuwufei_total ,remark ,create_date,payment_date
    </sql>

    <select id="dianfuPageList" resultType="qingkuan">
        -- 垫付列表查询
        SELECT q.customer_name customerName,
        q.customer_id customerId,
        q.reporting_period reportingPeriod,
        q.supplier_id supplierId,
        q.supplier_name supplierName,
        SUM(q.mount_total) mountTotal,
        SUM(q.gerenshebao) gerenshebao,
        SUM(q.gongsishebao) gongsishebao,
        SUM(q.shebao_total) shebaoTotal,
        SUM(q.gongsicanbaojin) gongsicanbaojin,
        SUM(q.gerengongjijin) gerengongjijin,
        SUM(q.gongsigongjijin) gongsigongjijin,
        SUM(q.gongjijin_total) gongjijinTotal,
        SUM(q.fuwufei_total) fuwufeiTotal
        FROM qingkuan q
        where q.type=0 and q.state=0 and q.reporting_period=#{yearMonth}
        <if test="roleType == 2">
            AND q.supplier_id in(select s_id from supplier where user_id = #{userId})
        </if>
        GROUP BY
        q.customer_name,
        q.customer_id,
        q.reporting_period,
        q.supplier_id
    </select>

    <update id="updateDianfuState">
        -- 垫付操作：状态变更且类型变更为垫付
        update qingkuan set type=1
        where customer_id=#{customerId} and supplier_id=#{supplierId}
    </update>

    <select id="qingkuanPageList" resultType="qingkuan" parameterType="java.lang.String">
        -- 请款列表： 查询供应商账单明细
        select
        q.type,
        q.supplier_id supplierId,
        q.customer_name customerName,
        q.supplier_name supplierName,
        q.reporting_period reportingPeriod,
        sum(q.mount_total) mountTotal,
        sum(q.gerenshebao) gerenshebao,
        sum(q.gongsishebao) gongsishebao,
        sum(q.gongsicanbaojin) gongsicanbaojin,
        sum(q.gerengongjijin) gerengongjijin,
        sum(q.gongsigongjijin) gongsigongjijin,
        sum(q.gongjijin_total) gongjijinTotal,
        sum(q.fuwufei_total) fuwufeiTotal
        from qingkuan q
        where q.reporting_period=#{yearMonth}
        <if test="roleType == 2">
            AND q.supplier_id in(select s_id from supplier where user_id = #{userId})
        </if>
        group by
        q.supplier_id,
        q.reporting_period
    </select>


    <!--<update id="updateqingkuanState">-->
        <!--&#45;&#45; 请款操作：(只操作没有垫付的)状态变更且类型变更为请款-->
        <!--update qingkuan set state=2-->
        <!--where customer_id=#{customerId}-->
        <!--and supplier_id=#{supplierId}-->
        <!--and reporting_period=#{yearMonth}-->
        <!--and state=0-->
    <!--</update>-->




    <select id="zhangDanQingKuanDan" resultType="qingkuan">
        -- 供应商账单明细-请款单
        select
        q.reporting_period reportingPeriod,
        q.customer_id customerId,
        q.customer_name customerName,
        (select dept_name from kefu_dept where kd_id=z.dept_id) deptName,
        count(z.zc_id) countEmp,
        q.gongsishebao,
        q.gerenshebao,
        q.shebao_total shebaoTotal,
        q.gongsicanbaojin,
        q.gongsigongjijin,
        q.gerengongjijin,
        q.gongjijin_total gongjijinTotal,
        q.fuwufei_total fuwufeiTotal,
        q.mount_total mountTotal,
        q.payment_date paymentDate
        from qingkuan q, zaice z
        where (z.supplier_id=q.supplier_id and z.customer_id=q.customer_id)
        and q.supplier_id=#{supplierId}
        and q.reporting_period=#{yearMonth}
        and q.type=0
        and z.delete_flag=0
        group by
        q.reporting_period,
        q.customer_id,
        q.supplier_id
    </select>


    <select id="zhangDanDianfuDan" resultType="qingkuan">
        -- 供应商账单明细-垫付单
        select
        q.reporting_period reportingPeriod,
        q.customer_id customerId,
        q.customer_name customerName,
        (select dept_name from kefu_dept where kd_id=z.dept_id) deptName,
        count(z.zc_id) countEmp,
        q.gongsishebao,
        q.gerenshebao,
        q.shebao_total shebaoTotal,
        q.gongsicanbaojin,
        q.gongsigongjijin,
        q.gerengongjijin,
        q.gongjijin_total gongjijinTotal,
        q.fuwufei_total fuwufeiTotal,
        q.mount_total mountTotal
        from qingkuan q, zaice z
        where (z.supplier_id=q.supplier_id and z.customer_id=q.customer_id)
        and q.supplier_id=#{supplierId}
        and q.reporting_period=#{yearMonth}
        and z.delete_flag=0
        and q.type=1
        group by
        q.reporting_period,
        q.customer_id,
        q.supplier_id
    </select>



</mapper>