<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianmi.mapper.ZengyuanYichangMapper">
	<resultMap id="BaseResultMap" type="com.dianmi.model.ZengyuanYichang">
		<constructor>
			<idArg column="yc_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="dept_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="financial_accounting_unit" jdbcType="VARCHAR"
				javaType="java.lang.String" />
			<arg column="customer_name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="employee_name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="certificate_type" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="certificate_number" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="nation" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="mobile_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="is_external_call" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="household_city" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="household_property" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="social_security_card_number" jdbcType="VARCHAR"
				javaType="java.lang.String" />
			<arg column="social_security_base" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="social_security_type" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="supplier" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="social_security_begin_time" jdbcType="VARCHAR"
				javaType="java.lang.String" />
			<arg column="accumulation_fund_number" jdbcType="VARCHAR"
				javaType="java.lang.String" />
			<arg column="accumulation_fund_cardinal_number" jdbcType="VARCHAR"
				javaType="java.lang.String" />
			<arg column="accumulation_fund_ratio" jdbcType="VARCHAR"
				javaType="java.lang.String" />
			<arg column="accumulation_fund_begin_time" jdbcType="VARCHAR"
				javaType="java.lang.String" />
			<arg column="import_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
			<arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="reporting_period" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="check_code" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="yichang_reason" jdbcType="VARCHAR" javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		yc_id, user_id,dept_id, financial_accounting_unit,
		customer_name,
		employee_name,
		certificate_type,
		certificate_number,
		nation,
		mobile_phone, is_external_call, household_city,
		household_property,
		city, social_security_card_number,
		social_security_base,
		social_security_type, supplier,
		social_security_begin_time,
		accumulation_fund_number,
		accumulation_fund_cardinal_number,
		accumulation_fund_ratio,
		accumulation_fund_begin_time, import_date,
		remark, reporting_period,
		check_code, yichang_reason
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from zengyuan_yichang
		where yc_id = #{ycId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		zengyuan_yichang
		where yc_id = #{ycId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dianmi.model.ZengyuanYichang">
		insert into zengyuan_yichang
		(yc_id, user_id,dept_id,
		financial_accounting_unit,
		customer_name,
		employee_name, certificate_type,
		certificate_number, nation,
		mobile_phone,
		is_external_call, household_city, household_property,
		city, social_security_card_number, social_security_base,
		social_security_type, supplier, social_security_begin_time,
		accumulation_fund_number, accumulation_fund_cardinal_number,
		accumulation_fund_ratio, accumulation_fund_begin_time,
		import_date,
		remark, reporting_period,
		check_code, yichang_reason)
		values
		(#{ycId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},#{deptId,jdbcType=INTEGER},
		#{financialAccountingUnit,jdbcType=VARCHAR},
		#{customerName,jdbcType=VARCHAR}, #{employeeName,jdbcType=VARCHAR},
		#{certificateType,jdbcType=VARCHAR},
		#{certificateNumber,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR},
		#{mobilePhone,jdbcType=VARCHAR},
		#{isExternalCall,jdbcType=VARCHAR},
		#{householdCity,jdbcType=VARCHAR},
		#{householdProperty,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{socialSecurityCardNumber,jdbcType=VARCHAR},
		#{socialSecurityBase,jdbcType=VARCHAR},
		#{socialSecurityType,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR},
		#{socialSecurityBeginTime,jdbcType=VARCHAR},
		#{accumulationFundNumber,jdbcType=VARCHAR},
		#{accumulationFundCardinalNumber,jdbcType=VARCHAR},
		#{accumulationFundRatio,jdbcType=VARCHAR},
		#{accumulationFundBeginTime,jdbcType=VARCHAR},
		#{importDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
		#{reportingPeriod,jdbcType=VARCHAR},
		#{checkCode,jdbcType=VARCHAR},
		#{yichangReason,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.dianmi.model.ZengyuanYichang">
		insert into zengyuan_yichang
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ycId != null">
				yc_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="deptId != null">
				dept_id,
			</if>
			<if test="financialAccountingUnit != null">
				financial_accounting_unit,
			</if>
			<if test="customerName != null">
				customer_name,
			</if>
			<if test="employeeName != null">
				employee_name,
			</if>
			<if test="certificateType != null">
				certificate_type,
			</if>
			<if test="certificateNumber != null">
				certificate_number,
			</if>
			<if test="nation != null">
				nation,
			</if>
			<if test="mobilePhone != null">
				mobile_phone,
			</if>
			<if test="isExternalCall != null">
				is_external_call,
			</if>
			<if test="householdCity != null">
				household_city,
			</if>
			<if test="householdProperty != null">
				household_property,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="socialSecurityCardNumber != null">
				social_security_card_number,
			</if>
			<if test="socialSecurityBase != null">
				social_security_base,
			</if>
			<if test="socialSecurityType != null">
				social_security_type,
			</if>
			<if test="supplier != null">
				supplier,
			</if>
			<if test="socialSecurityBeginTime != null">
				social_security_begin_time,
			</if>
			<if test="accumulationFundNumber != null">
				accumulation_fund_number,
			</if>
			<if test="accumulationFundCardinalNumber != null">
				accumulation_fund_cardinal_number,
			</if>
			<if test="accumulationFundRatio != null">
				accumulation_fund_ratio,
			</if>
			<if test="accumulationFundBeginTime != null">
				accumulation_fund_begin_time,
			</if>
			<if test="importDate != null">
				import_date,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="reportingPeriod != null">
				reporting_period,
			</if>
			<if test="checkCode != null">
				check_code,
			</if>
			<if test="yichangReason != null">
				yichang_reason,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ycId != null">
				#{ycId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="deptId != null">
				#{deptId,jdbcType=INTEGER},
			</if>
			<if test="financialAccountingUnit != null">
				#{financialAccountingUnit,jdbcType=VARCHAR},
			</if>
			<if test="customerName != null">
				#{customerName,jdbcType=VARCHAR},
			</if>
			<if test="employeeName != null">
				#{employeeName,jdbcType=VARCHAR},
			</if>
			<if test="certificateType != null">
				#{certificateType,jdbcType=VARCHAR},
			</if>
			<if test="certificateNumber != null">
				#{certificateNumber,jdbcType=VARCHAR},
			</if>
			<if test="nation != null">
				#{nation,jdbcType=VARCHAR},
			</if>
			<if test="mobilePhone != null">
				#{mobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="isExternalCall != null">
				#{isExternalCall,jdbcType=VARCHAR},
			</if>
			<if test="householdCity != null">
				#{householdCity,jdbcType=VARCHAR},
			</if>
			<if test="householdProperty != null">
				#{householdProperty,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityCardNumber != null">
				#{socialSecurityCardNumber,jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityBase != null">
				#{socialSecurityBase,jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityType != null">
				#{socialSecurityType,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null">
				#{supplier,jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityBeginTime != null">
				#{socialSecurityBeginTime,jdbcType=VARCHAR},
			</if>
			<if test="accumulationFundNumber != null">
				#{accumulationFundNumber,jdbcType=VARCHAR},
			</if>
			<if test="accumulationFundCardinalNumber != null">
				#{accumulationFundCardinalNumber,jdbcType=VARCHAR},
			</if>
			<if test="accumulationFundRatio != null">
				#{accumulationFundRatio,jdbcType=VARCHAR},
			</if>
			<if test="accumulationFundBeginTime != null">
				#{accumulationFundBeginTime,jdbcType=VARCHAR},
			</if>
			<if test="importDate != null">
				#{importDate,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="reportingPeriod != null">
				#{reportingPeriod,jdbcType=VARCHAR},
			</if>
			<if test="checkCode != null">
				#{checkCode,jdbcType=VARCHAR},
			</if>
			<if test="yichangReason != null">
				#{yichangReason,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dianmi.model.ZengyuanYichang">
		update zengyuan_yichang
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="deptId != null">
				dept_id = #{deptId,jdbcType=INTEGER},
			</if>
			<if test="financialAccountingUnit != null">
				financial_accounting_unit =
				#{financialAccountingUnit,jdbcType=VARCHAR},
			</if>
			<if test="customerName != null">
				customer_name = #{customerName,jdbcType=VARCHAR},
			</if>
			<if test="employeeName != null">
				employee_name = #{employeeName,jdbcType=VARCHAR},
			</if>
			<if test="certificateType != null">
				certificate_type = #{certificateType,jdbcType=VARCHAR},
			</if>
			<if test="certificateNumber != null">
				certificate_number =
				#{certificateNumber,jdbcType=VARCHAR},
			</if>
			<if test="nation != null">
				nation = #{nation,jdbcType=VARCHAR},
			</if>
			<if test="mobilePhone != null">
				mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="isExternalCall != null">
				is_external_call = #{isExternalCall,jdbcType=VARCHAR},
			</if>
			<if test="householdCity != null">
				household_city = #{householdCity,jdbcType=VARCHAR},
			</if>
			<if test="householdProperty != null">
				household_property =
				#{householdProperty,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityCardNumber != null">
				social_security_card_number =
				#{socialSecurityCardNumber,jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityBase != null">
				social_security_base =
				#{socialSecurityBase,jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityType != null">
				social_security_type =
				#{socialSecurityType,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null">
				supplier = #{supplier,jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityBeginTime != null">
				social_security_begin_time =
				#{socialSecurityBeginTime,jdbcType=VARCHAR},
			</if>
			<if test="accumulationFundNumber != null">
				accumulation_fund_number =
				#{accumulationFundNumber,jdbcType=VARCHAR},
			</if>
			<if test="accumulationFundCardinalNumber != null">
				accumulation_fund_cardinal_number =
				#{accumulationFundCardinalNumber,jdbcType=VARCHAR},
			</if>
			<if test="accumulationFundRatio != null">
				accumulation_fund_ratio =
				#{accumulationFundRatio,jdbcType=VARCHAR},
			</if>
			<if test="accumulationFundBeginTime != null">
				accumulation_fund_begin_time =
				#{accumulationFundBeginTime,jdbcType=VARCHAR},
			</if>
			<if test="importDate != null">
				import_date = #{importDate,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="reportingPeriod != null">
				reporting_period = #{reportingPeriod,jdbcType=VARCHAR},
			</if>
			<if test="checkCode != null">
				check_code = #{checkCode,jdbcType=VARCHAR},
			</if>
			<if test="yichangReason != null">
				yichang_reason = #{yichangReason,jdbcType=VARCHAR},
			</if>
		</set>
		where yc_id = #{ycId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dianmi.model.ZengyuanYichang">
		update
		zengyuan_yichang
		set user_id = #{userId,jdbcType=INTEGER},
		dept_id =
		#{deptId,jdbcType=INTEGER},
		financial_accounting_unit =
		#{financialAccountingUnit,jdbcType=VARCHAR},
		customer_name =
		#{customerName,jdbcType=VARCHAR},
		employee_name =
		#{employeeName,jdbcType=VARCHAR},
		certificate_type =
		#{certificateType,jdbcType=VARCHAR},
		certificate_number =
		#{certificateNumber,jdbcType=VARCHAR},
		nation =
		#{nation,jdbcType=VARCHAR},
		mobile_phone =
		#{mobilePhone,jdbcType=VARCHAR},
		is_external_call =
		#{isExternalCall,jdbcType=VARCHAR},
		household_city =
		#{householdCity,jdbcType=VARCHAR},
		household_property =
		#{householdProperty,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		social_security_card_number =
		#{socialSecurityCardNumber,jdbcType=VARCHAR},
		social_security_base =
		#{socialSecurityBase,jdbcType=VARCHAR},
		social_security_type =
		#{socialSecurityType,jdbcType=VARCHAR},
		supplier =
		#{supplier,jdbcType=VARCHAR},
		social_security_begin_time =
		#{socialSecurityBeginTime,jdbcType=VARCHAR},
		accumulation_fund_number =
		#{accumulationFundNumber,jdbcType=VARCHAR},
		accumulation_fund_cardinal_number =
		#{accumulationFundCardinalNumber,jdbcType=VARCHAR},
		accumulation_fund_ratio = #{accumulationFundRatio,jdbcType=VARCHAR},
		accumulation_fund_begin_time =
		#{accumulationFundBeginTime,jdbcType=VARCHAR},
		import_date =
		#{importDate,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR},
		reporting_period = #{reportingPeriod,jdbcType=VARCHAR},
		check_code =
		#{checkCode,jdbcType=VARCHAR},
		yichang_reason =
		#{yichangReason,jdbcType=VARCHAR}
		where yc_id =
		#{ycId,jdbcType=INTEGER}
	</update>

	<!-- 获取当前操作者某月份的增减员异常数据 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		*
		from
		zengyuan_yichang
		where
		reporting_period = #{yearMonth}
		and
		user_id = #{userId}
		<if test="importDate != null">
		and
		import_date = #{importDate}
		</if>
	</select>

	<!-- 根据检验码删除所有增员异常信息 -->
	<delete id="deleteByCheckCode" parameterType="string">
		delete
		from
		zengyuan_yichang
		where
		check_code = #{checkCode}
	</delete>

	<!-- 批次导入时间 -->
	<select id="allImportDateTime" resultType="map">
		SELECT
		DISTINCT
		import_date
		FROM
		zengyuan_yichang
		WHERE
		reporting_period = #{yearMonth}
		AND
		user_id = #{userId}
	</select>

</mapper>