<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.mapper.ZhangdanMapper">
	<resultMap id="BaseResultMap" type="com.dianmi.model.Zhangdan">
		<constructor>
			<idArg column="z_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
			<arg column="zaice_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
			<arg column="yuqi_shebao_gongsi_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_shebao_geren_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_shebao_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_gongjijin_gongsi" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_gongjijin_geren" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_gongjijin_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_shebao_gongjijin_gongsi_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_shebao_gongjijin_geren_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_canbaojin_gongsi" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="yuqi_fuwufei" javaType="java.lang.Double" jdbcType="DOUBLE" />
			<arg column="yuqi_heji" javaType="java.lang.Double" jdbcType="DOUBLE" />
			<arg column="shiji_shebao_gongsi_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_shebao_geren_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_shebao_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_gongjijin_gongsi" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_gongjijin_geren" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_gongjijin_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_shebao_gongjijin_gongsi_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_shebao_gongjijin_geren_heji" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_canbaojin_gongsi" javaType="java.lang.Double"
				jdbcType="DOUBLE" />
			<arg column="shiji_fuwufei" javaType="java.lang.Double" jdbcType="DOUBLE" />
			<arg column="shiji_heji" javaType="java.lang.Double" jdbcType="DOUBLE" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		z_id, zaice_id, yuqi_shebao_gongsi_heji,
		yuqi_shebao_geren_heji,
		yuqi_shebao_heji,
		yuqi_gongjijin_gongsi,
		yuqi_gongjijin_geren, yuqi_gongjijin_heji,
		yuqi_shebao_gongjijin_gongsi_heji,
		yuqi_shebao_gongjijin_geren_heji,
		yuqi_canbaojin_gongsi, yuqi_fuwufei, yuqi_heji,
		shiji_shebao_gongsi_heji, shiji_shebao_geren_heji, shiji_shebao_heji,
		shiji_gongjijin_gongsi,
		shiji_gongjijin_geren, shiji_gongjijin_heji,
		shiji_shebao_gongjijin_gongsi_heji,
		shiji_shebao_gongjijin_geren_heji,
		shiji_canbaojin_gongsi,
		shiji_fuwufei, shiji_heji
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from zhangdan
		where z_id = #{zId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		zhangdan
		where z_id = #{zId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dianmi.model.Zhangdan">
		insert into zhangdan (z_id,
		zaice_id, yuqi_shebao_gongsi_heji,
		yuqi_shebao_geren_heji,
		yuqi_shebao_heji, yuqi_gongjijin_gongsi,
		yuqi_gongjijin_geren,
		yuqi_gongjijin_heji,
		yuqi_shebao_gongjijin_gongsi_heji,
		yuqi_shebao_gongjijin_geren_heji, yuqi_canbaojin_gongsi,
		yuqi_fuwufei,
		yuqi_heji, shiji_shebao_gongsi_heji,
		shiji_shebao_geren_heji,
		shiji_shebao_heji, shiji_gongjijin_gongsi,
		shiji_gongjijin_geren,
		shiji_gongjijin_heji,
		shiji_shebao_gongjijin_gongsi_heji,
		shiji_shebao_gongjijin_geren_heji,
		shiji_canbaojin_gongsi,
		shiji_fuwufei, shiji_heji
		)
		values (#{zId,jdbcType=INTEGER},
		#{zaiceId,jdbcType=INTEGER},
		#{yuqiShebaoGongsiHeji,jdbcType=DOUBLE},
		#{yuqiShebaoGerenHeji,jdbcType=DOUBLE},
		#{yuqiShebaoHeji,jdbcType=DOUBLE},
		#{yuqiGongjijinGongsi,jdbcType=DOUBLE},
		#{yuqiGongjijinGeren,jdbcType=DOUBLE},
		#{yuqiGongjijinHeji,jdbcType=DOUBLE},
		#{yuqiShebaoGongjijinGongsiHeji,jdbcType=DOUBLE},
		#{yuqiShebaoGongjijinGerenHeji,jdbcType=DOUBLE},
		#{yuqiCanbaojinGongsi,jdbcType=DOUBLE},
		#{yuqiFuwufei,jdbcType=DOUBLE}, #{yuqiHeji,jdbcType=DOUBLE},
		#{shijiShebaoGongsiHeji,jdbcType=DOUBLE},
		#{shijiShebaoGerenHeji,jdbcType=DOUBLE},
		#{shijiShebaoHeji,jdbcType=DOUBLE},
		#{shijiGongjijinGongsi,jdbcType=DOUBLE},
		#{shijiGongjijinGeren,jdbcType=DOUBLE},
		#{shijiGongjijinHeji,jdbcType=DOUBLE},
		#{shijiShebaoGongjijinGongsiHeji,jdbcType=DOUBLE},
		#{shijiShebaoGongjijinGerenHeji,jdbcType=DOUBLE},
		#{shijiCanbaojinGongsi,jdbcType=DOUBLE},
		#{shijiFuwufei,jdbcType=DOUBLE}, #{shijiHeji,jdbcType=DOUBLE}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.dianmi.model.Zhangdan">
		insert into zhangdan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zId != null">
				z_id,
			</if>
			<if test="zaiceId != null">
				zaice_id,
			</if>
			<if test="yuqiShebaoGongsiHeji != null">
				yuqi_shebao_gongsi_heji,
			</if>
			<if test="yuqiShebaoGerenHeji != null">
				yuqi_shebao_geren_heji,
			</if>
			<if test="yuqiShebaoHeji != null">
				yuqi_shebao_heji,
			</if>
			<if test="yuqiGongjijinGongsi != null">
				yuqi_gongjijin_gongsi,
			</if>
			<if test="yuqiGongjijinGeren != null">
				yuqi_gongjijin_geren,
			</if>
			<if test="yuqiGongjijinHeji != null">
				yuqi_gongjijin_heji,
			</if>
			<if test="yuqiShebaoGongjijinGongsiHeji != null">
				yuqi_shebao_gongjijin_gongsi_heji,
			</if>
			<if test="yuqiShebaoGongjijinGerenHeji != null">
				yuqi_shebao_gongjijin_geren_heji,
			</if>
			<if test="yuqiCanbaojinGongsi != null">
				yuqi_canbaojin_gongsi,
			</if>
			<if test="yuqiFuwufei != null">
				yuqi_fuwufei,
			</if>
			<if test="yuqiHeji != null">
				yuqi_heji,
			</if>
			<if test="shijiShebaoGongsiHeji != null">
				shiji_shebao_gongsi_heji,
			</if>
			<if test="shijiShebaoGerenHeji != null">
				shiji_shebao_geren_heji,
			</if>
			<if test="shijiShebaoHeji != null">
				shiji_shebao_heji,
			</if>
			<if test="shijiGongjijinGongsi != null">
				shiji_gongjijin_gongsi,
			</if>
			<if test="shijiGongjijinGeren != null">
				shiji_gongjijin_geren,
			</if>
			<if test="shijiGongjijinHeji != null">
				shiji_gongjijin_heji,
			</if>
			<if test="shijiShebaoGongjijinGongsiHeji != null">
				shiji_shebao_gongjijin_gongsi_heji,
			</if>
			<if test="shijiShebaoGongjijinGerenHeji != null">
				shiji_shebao_gongjijin_geren_heji,
			</if>
			<if test="shijiCanbaojinGongsi != null">
				shiji_canbaojin_gongsi,
			</if>
			<if test="shijiFuwufei != null">
				shiji_fuwufei,
			</if>
			<if test="shijiHeji != null">
				shiji_heji,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zId != null">
				#{zId,jdbcType=INTEGER},
			</if>
			<if test="zaiceId != null">
				#{zaiceId,jdbcType=INTEGER},
			</if>
			<if test="yuqiShebaoGongsiHeji != null">
				#{yuqiShebaoGongsiHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiShebaoGerenHeji != null">
				#{yuqiShebaoGerenHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiShebaoHeji != null">
				#{yuqiShebaoHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiGongjijinGongsi != null">
				#{yuqiGongjijinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="yuqiGongjijinGeren != null">
				#{yuqiGongjijinGeren,jdbcType=DOUBLE},
			</if>
			<if test="yuqiGongjijinHeji != null">
				#{yuqiGongjijinHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiShebaoGongjijinGongsiHeji != null">
				#{yuqiShebaoGongjijinGongsiHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiShebaoGongjijinGerenHeji != null">
				#{yuqiShebaoGongjijinGerenHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiCanbaojinGongsi != null">
				#{yuqiCanbaojinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="yuqiFuwufei != null">
				#{yuqiFuwufei,jdbcType=DOUBLE},
			</if>
			<if test="yuqiHeji != null">
				#{yuqiHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoGongsiHeji != null">
				#{shijiShebaoGongsiHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoGerenHeji != null">
				#{shijiShebaoGerenHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoHeji != null">
				#{shijiShebaoHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiGongjijinGongsi != null">
				#{shijiGongjijinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="shijiGongjijinGeren != null">
				#{shijiGongjijinGeren,jdbcType=DOUBLE},
			</if>
			<if test="shijiGongjijinHeji != null">
				#{shijiGongjijinHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoGongjijinGongsiHeji != null">
				#{shijiShebaoGongjijinGongsiHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoGongjijinGerenHeji != null">
				#{shijiShebaoGongjijinGerenHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiCanbaojinGongsi != null">
				#{shijiCanbaojinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="shijiFuwufei != null">
				#{shijiFuwufei,jdbcType=DOUBLE},
			</if>
			<if test="shijiHeji != null">
				#{shijiHeji,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dianmi.model.Zhangdan">
		update zhangdan
		<set>
			<if test="zaiceId != null">
				zaice_id = #{zaiceId,jdbcType=INTEGER},
			</if>
			<if test="yuqiShebaoGongsiHeji != null">
				yuqi_shebao_gongsi_heji =
				#{yuqiShebaoGongsiHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiShebaoGerenHeji != null">
				yuqi_shebao_geren_heji =
				#{yuqiShebaoGerenHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiShebaoHeji != null">
				yuqi_shebao_heji = #{yuqiShebaoHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiGongjijinGongsi != null">
				yuqi_gongjijin_gongsi =
				#{yuqiGongjijinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="yuqiGongjijinGeren != null">
				yuqi_gongjijin_geren =
				#{yuqiGongjijinGeren,jdbcType=DOUBLE},
			</if>
			<if test="yuqiGongjijinHeji != null">
				yuqi_gongjijin_heji =
				#{yuqiGongjijinHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiShebaoGongjijinGongsiHeji != null">
				yuqi_shebao_gongjijin_gongsi_heji =
				#{yuqiShebaoGongjijinGongsiHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiShebaoGongjijinGerenHeji != null">
				yuqi_shebao_gongjijin_geren_heji =
				#{yuqiShebaoGongjijinGerenHeji,jdbcType=DOUBLE},
			</if>
			<if test="yuqiCanbaojinGongsi != null">
				yuqi_canbaojin_gongsi =
				#{yuqiCanbaojinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="yuqiFuwufei != null">
				yuqi_fuwufei = #{yuqiFuwufei,jdbcType=DOUBLE},
			</if>
			<if test="yuqiHeji != null">
				yuqi_heji = #{yuqiHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoGongsiHeji != null">
				shiji_shebao_gongsi_heji =
				#{shijiShebaoGongsiHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoGerenHeji != null">
				shiji_shebao_geren_heji =
				#{shijiShebaoGerenHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoHeji != null">
				shiji_shebao_heji = #{shijiShebaoHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiGongjijinGongsi != null">
				shiji_gongjijin_gongsi =
				#{shijiGongjijinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="shijiGongjijinGeren != null">
				shiji_gongjijin_geren =
				#{shijiGongjijinGeren,jdbcType=DOUBLE},
			</if>
			<if test="shijiGongjijinHeji != null">
				shiji_gongjijin_heji =
				#{shijiGongjijinHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoGongjijinGongsiHeji != null">
				shiji_shebao_gongjijin_gongsi_heji =
				#{shijiShebaoGongjijinGongsiHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiShebaoGongjijinGerenHeji != null">
				shiji_shebao_gongjijin_geren_heji =
				#{shijiShebaoGongjijinGerenHeji,jdbcType=DOUBLE},
			</if>
			<if test="shijiCanbaojinGongsi != null">
				shiji_canbaojin_gongsi =
				#{shijiCanbaojinGongsi,jdbcType=DOUBLE},
			</if>
			<if test="shijiFuwufei != null">
				shiji_fuwufei = #{shijiFuwufei,jdbcType=DOUBLE},
			</if>
			<if test="shijiHeji != null">
				shiji_heji = #{shijiHeji,jdbcType=DOUBLE},
			</if>
		</set>
		where z_id = #{zId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dianmi.model.Zhangdan">
		update zhangdan
		set zaice_id = #{zaiceId,jdbcType=INTEGER},
		yuqi_shebao_gongsi_heji =
		#{yuqiShebaoGongsiHeji,jdbcType=DOUBLE},
		yuqi_shebao_geren_heji =
		#{yuqiShebaoGerenHeji,jdbcType=DOUBLE},
		yuqi_shebao_heji =
		#{yuqiShebaoHeji,jdbcType=DOUBLE},
		yuqi_gongjijin_gongsi =
		#{yuqiGongjijinGongsi,jdbcType=DOUBLE},
		yuqi_gongjijin_geren =
		#{yuqiGongjijinGeren,jdbcType=DOUBLE},
		yuqi_gongjijin_heji =
		#{yuqiGongjijinHeji,jdbcType=DOUBLE},
		yuqi_shebao_gongjijin_gongsi_heji =
		#{yuqiShebaoGongjijinGongsiHeji,jdbcType=DOUBLE},
		yuqi_shebao_gongjijin_geren_heji =
		#{yuqiShebaoGongjijinGerenHeji,jdbcType=DOUBLE},
		yuqi_canbaojin_gongsi
		= #{yuqiCanbaojinGongsi,jdbcType=DOUBLE},
		yuqi_fuwufei =
		#{yuqiFuwufei,jdbcType=DOUBLE},
		yuqi_heji =
		#{yuqiHeji,jdbcType=DOUBLE},
		shiji_shebao_gongsi_heji =
		#{shijiShebaoGongsiHeji,jdbcType=DOUBLE},
		shiji_shebao_geren_heji =
		#{shijiShebaoGerenHeji,jdbcType=DOUBLE},
		shiji_shebao_heji =
		#{shijiShebaoHeji,jdbcType=DOUBLE},
		shiji_gongjijin_gongsi =
		#{shijiGongjijinGongsi,jdbcType=DOUBLE},
		shiji_gongjijin_geren =
		#{shijiGongjijinGeren,jdbcType=DOUBLE},
		shiji_gongjijin_heji =
		#{shijiGongjijinHeji,jdbcType=DOUBLE},
		shiji_shebao_gongjijin_gongsi_heji =
		#{shijiShebaoGongjijinGongsiHeji,jdbcType=DOUBLE},
		shiji_shebao_gongjijin_geren_heji =
		#{shijiShebaoGongjijinGerenHeji,jdbcType=DOUBLE},
		shiji_canbaojin_gongsi = #{shijiCanbaojinGongsi,jdbcType=DOUBLE},
		shiji_fuwufei = #{shijiFuwufei,jdbcType=DOUBLE},
		shiji_heji =
		#{shijiHeji,jdbcType=DOUBLE}
		where z_id = #{zId,jdbcType=INTEGER}
	</update>


	<resultMap id="zongzhangdanMap" type="zongzhangdanPo">
		<result column="supplier_id" javaType="int" jdbcType="INTEGER"
			property="supplierId" />
		<result column="supplier_name" javaType="string" jdbcType="VARCHAR"
			property="supplierName" />
		<result column="customer_id" javaType="int" jdbcType="INTEGER"
			property="customerId" />
		<result column="customer_name" javaType="string" jdbcType="VARCHAR"
			property="customerName" />
		<result column="yuqi_shebao_heji" javaType="double" jdbcType="DOUBLE"
			property="yuqiShebaoHeji" />
		<result column="yuqi_gongjijin_heji" javaType="double"
			jdbcType="DOUBLE" property="yuqiGongjijinHeji" />
		<result column="yuqi_fuwufei_heji" javaType="double" jdbcType="DOUBLE"
			property="yuqiFuwufeiHeji" />
		<result column="yuqi_canbaojin_heji" javaType="double"
			jdbcType="DOUBLE" property="yuqiCanbaojinHeji" />
		<result column="yuqi_renshu_heji" javaType="int" jdbcType="INTEGER"
			property="yuqiRenshuHeji" />
		<result column="yuqi_heji" javaType="double" jdbcType="DOUBLE"
			property="yuqiHeji" />
		<result column="shiji_shebao_heji" javaType="double" jdbcType="DOUBLE"
			property="shijiShebaoHeji" />
		<result column="shiji_gongjijin_heji" javaType="double"
			jdbcType="DOUBLE" property="shijiGongjijinHeji" />
		<result column="shiji_fuwufei_heji" javaType="double" jdbcType="DOUBLE"
			property="shijiFuwufeiHeji" />
		<result column="shiji_canbaojin_heji" javaType="double"
			jdbcType="DOUBLE" property="shijiCanbaojinHeji" />
		<result column="shiji_renshu_heji" javaType="int" jdbcType="INTEGER"
			property="shijiRenshuHeji" />
		<result column="shiji_heji" javaType="double" jdbcType="DOUBLE"
			property="shijiHeji" />
	</resultMap>

	<!-- 获取某个月份的所有账单按供应商分组展示 -->
	<select id="supplierZhangdan" resultMap="zongzhangdanMap">
		SELECT
		zc.supplier_id,
		s.supplier_name,
		zc.customer_id,
		c.customer_name,
		sum(zd.yuqi_shebao_heji) yuqi_shebao_heji,
		sum(zd.yuqi_gongjijin_heji)
		yuqi_gongjijin_heji,
		sum(zd.yuqi_fuwufei) yuqi_fuwufei_heji,
		sum(zd.yuqi_canbaojin_gongsi) yuqi_canbaojin_heji,
		count(zd.z_id)
		yuqi_renshu_heji,
		sum(yuqi_heji) yuqi_heji,
		sum(zd.shiji_shebao_heji)
		shiji_shebao_heji,
		sum(zd.shiji_gongjijin_heji) shiji_gongjijin_heji,
		sum(zd.shiji_fuwufei) shiji_fuwufei_heji,
		sum(zd.shiji_canbaojin_gongsi) shiji_canbaojin_heji,
		count(zd.z_id)
		shiji_renshu_heji,
		sum(shiji_heji) shiji_heji
		FROM
		zaice
		zc,zhangdan
		zd,supplier s,customer c
		where
		zc.zc_id = zd.zaice_id
		AND
		s.s_id =
		zc.supplier_id
		AND
		c.c_id = zc.customer_id
		<if test="roleType == 2">
			AND zc.supplier_id in(select s_id from supplier where
			user_id =
			#{userId})
		</if>
		AND zc.reporting_period = #{yearMonth}
		<if test="supplierName != null">
			AND supplier_name like #{supplierName}
		</if>
		AND
		zc.delete_flag = 0
		AND
		zc.supplier_id != 1
		GROUP BY
		zc.supplier_id
		ORDER BY
		supplier_id
	</select>

	<!-- 获取当前登录系统用户某个月份的所有账单按客户分组展示 -->
	<select id="customerZhangdan" resultMap="zongzhangdanMap">
		SELECT
		zc.supplier_id,
		s.supplier_name,
		zc.customer_id,
		c.customer_name,
		sum(zd.yuqi_shebao_heji) yuqi_shebao_heji,
		sum(zd.yuqi_gongjijin_heji)
		yuqi_gongjijin_heji,
		sum(zd.yuqi_fuwufei) yuqi_fuwufei_heji,
		sum(zd.yuqi_canbaojin_gongsi) yuqi_canbaojin_heji,
		count(zd.z_id)
		yuqi_renshu_heji,
		sum(yuqi_heji) yuqi_heji,
		sum(zd.shiji_shebao_heji)
		shiji_shebao_heji,
		sum(zd.shiji_gongjijin_heji) shiji_gongjijin_heji,
		sum(zd.shiji_fuwufei) shiji_fuwufei_heji,
		sum(zd.shiji_canbaojin_gongsi) shiji_canbaojin_heji,
		count(zd.z_id)
		shiji_renshu_heji,
		sum(shiji_heji) shiji_heji
		FROM
		zaice zc,zhangdan
		zd,supplier s,customer c
		where
		zc.zc_id = zd.zaice_id
		AND
		s.s_id =
		zc.supplier_id
		AND
		c.c_id = zc.customer_id
		<if test="roleType == 2">
			AND
			zc.supplier_id
			in(select s_id from supplier where
			user_id = #{userId})
		</if>
		AND zc.reporting_period = #{yearMonth}
		<if test="customerName != null">
			AND c.customer_name like #{customerName}
		</if>
		AND
		zc.delete_flag = 0
		GROUP BY
		zc.customer_id
		ORDER BY
		customer_id
	</select>

	<resultMap id="fenzuZhangdanMap" type="fenzuZhangdanPo">
		<result column="reporting_period" javaType="string" jdbcType="VARCHAR"
			property="reportingPeriod" />
		<result column="supplier_id" javaType="int" jdbcType="INTEGER"
			property="supplierId" />
		<result column="supplier_name" javaType="string" jdbcType="VARCHAR"
			property="supplierName" />
		<result column="customer_id" javaType="int" jdbcType="INTEGER"
			property="customerId" />
		<result column="customer_name" javaType="string" jdbcType="VARCHAR"
			property="customerName" />
		<result column="yuqi_shebao_gongsi_heji" javaType="double"
			jdbcType="DOUBLE" property="yuqiShebaoGongsiHeji" />
		<result column="yuqi_shebao_geren_heji" javaType="double"
			jdbcType="DOUBLE" property="yuqiShebaoGerenHeji" />
		<result column="yuqi_shebao_heji" javaType="double" jdbcType="DOUBLE"
			property="yuqiShebaoHeji" />
		<result column="yuqi_canbaojin_gongsi" javaType="double"
			jdbcType="DOUBLE" property="yuqiCanbaojinGongsi" />
		<result column="yuqi_gongjijin_gongsi" javaType="double"
			jdbcType="DOUBLE" property="yuqiGongjijinGongsi" />
		<result column="yuqi_gongjijin_geren" javaType="double"
			jdbcType="DOUBLE" property="yuqiGongjijinGeren" />
		<result column="yuqi_gongjijin_heji" javaType="double"
			jdbcType="DOUBLE" property="yuqiGongjijinHeji" />
		<result column="yuqi_fuwufei" javaType="double" jdbcType="DOUBLE"
			property="yuqiFuwufei" />
		<result column="yuqi_heji" javaType="double" jdbcType="DOUBLE"
			property="yuqiHeji" />
		<result column="shiji_shebao_gongsi_heji" javaType="double"
			jdbcType="DOUBLE" property="shijiShebaoGongsiHeji" />
		<result column="shiji_shebao_geren_heji" javaType="double"
			jdbcType="DOUBLE" property="shijiShebaoGerenHeji" />
		<result column="shiji_shebao_heji" javaType="double" jdbcType="DOUBLE"
			property="shijiShebaoHeji" />
		<result column="shiji_canbaojin_gongsi" javaType="double"
			jdbcType="DOUBLE" property="shijiCanbaojinGongsi" />
		<result column="shiji_gongjijin_gongsi" javaType="double"
			jdbcType="DOUBLE" property="shijiGongjijinGongsi" />
		<result column="shiji_gongjijin_geren" javaType="double"
			jdbcType="DOUBLE" property="shijiGongjijinGeren" />
		<result column="shiji_gongjijin_heji" javaType="double"
			jdbcType="DOUBLE" property="shijiGongjijinHeji" />
		<result column="shiji_fuwufei" javaType="double" jdbcType="DOUBLE"
			property="shijiFuwufei" />
		<result column="shiji_heji" javaType="double" jdbcType="DOUBLE"
			property="shijiHeji" />
	</resultMap>

	<!--供应商账单按客户分组 -->
	<select id="groupByCustomer" resultMap="fenzuZhangdanMap">
		SELECT
		zc.reporting_period,
		zc.supplier_id,
		s.supplier_name,
		zc.customer_id,
		c.customer_name,
		kd.dept_name dept,
		sum(zd.yuqi_shebao_gongsi_heji)
		yuqi_shebao_gongsi_heji,
		sum(zd.yuqi_shebao_geren_heji)
		yuqi_shebao_geren_heji,
		sum(zd.yuqi_shebao_heji) yuqi_shebao_heji,
		sum(zd.yuqi_canbaojin_gongsi)
		yuqi_canbaojin_gongsi,
		sum(zd.yuqi_gongjijin_gongsi) yuqi_gongjijin_gongsi,
		sum(zd.yuqi_gongjijin_geren) yuqi_gongjijin_geren,
		sum(zd.yuqi_gongjijin_heji)
		yuqi_gongjijin_heji,
		sum(zd.yuqi_fuwufei)
		yuqi_fuwufei,
		sum(yuqi_heji) yuqi_heji,
		sum(zd.shiji_shebao_gongsi_heji)
		shiji_shebao_gongsi_heji,
		sum(zd.shiji_shebao_geren_heji) shiji_shebao_geren_heji,
		sum(zd.shiji_shebao_heji) shiji_shebao_heji,
		sum(zd.shiji_canbaojin_gongsi)
		shiji_canbaojin_gongsi,
		sum(zd.shiji_gongjijin_gongsi) shiji_gongjijin_gongsi,
		sum(zd.shiji_gongjijin_geren) shiji_gongjijin_geren,
		sum(zd.shiji_gongjijin_heji)
		shiji_gongjijin_heji,
		sum(zd.shiji_fuwufei) shiji_fuwufei,
		sum(shiji_heji) shiji_heji
		FROM
		zaice zc,zhangdan zd,supplier s,customer c,kefu_dept kd
		where
		zc.zc_id
		=
		zd.zaice_id
		AND
		s.s_id = zc.supplier_id
		AND
		c.c_id = zc.customer_id
		AND
		c.dept_id = kd.kd_id
		AND
		zc.supplier_id = #{supplierId}
		AND
		zc.reporting_period = #{yearMonth}
		AND
		zc.delete_flag = 0
		GROUP BY
		zc.customer_id
	</select>

	<!--客户账单按供应商分组 -->
	<select id="groupBySupplier" resultMap="fenzuZhangdanMap">
		SELECT
		zc.reporting_period,
		zc.supplier_id,
		s.supplier_name,
		zc.customer_id,
		c.customer_name,
		sum(zd.yuqi_shebao_gongsi_heji)
		yuqi_shebao_gongsi_heji,
		sum(zd.yuqi_shebao_geren_heji)
		yuqi_shebao_geren_heji,
		sum(zd.yuqi_shebao_heji) yuqi_shebao_heji,
		sum(zd.yuqi_canbaojin_gongsi)
		yuqi_canbaojin_gongsi,
		sum(zd.yuqi_gongjijin_gongsi) yuqi_gongjijin_gongsi,
		sum(zd.yuqi_gongjijin_geren) yuqi_gongjijin_geren,
		sum(zd.yuqi_gongjijin_heji)
		yuqi_gongjijin_heji,
		sum(zd.yuqi_fuwufei)
		yuqi_fuwufei,
		sum(yuqi_heji) yuqi_heji,
		sum(zd.shiji_shebao_gongsi_heji)
		shiji_shebao_gongsi_heji,
		sum(zd.shiji_shebao_geren_heji) shiji_shebao_geren_heji,
		sum(zd.shiji_shebao_heji) shiji_shebao_heji,
		sum(zd.shiji_canbaojin_gongsi)
		shiji_canbaojin_gongsi,
		sum(zd.shiji_gongjijin_gongsi) shiji_gongjijin_gongsi,
		sum(zd.shiji_gongjijin_geren) shiji_gongjijin_geren,
		sum(zd.shiji_gongjijin_heji)
		shiji_gongjijin_heji,
		sum(zd.shiji_fuwufei) shiji_fuwufei,
		sum(shiji_heji) shiji_heji
		FROM
		zaice zc,zhangdan zd,supplier s,customer c
		where
		zc.zc_id = zd.zaice_id
		AND
		s.s_id = zc.supplier_id
		AND
		c.c_id = zc.customer_id
		AND
		zc.customer_id
		= #{customerId}
		AND
		zc.reporting_period = #{yearMonth}
		AND
		zc.delete_flag
		= 0
		GROUP BY
		zc.supplier_id
	</select>

	<!-- 账单比对 -->
	<select id="zhangdanBidui" resultType="map">
		select
		zc.supplier_id,
		sum(zd.yuqi_shebao_heji) yuqiShebaoHeji,
		sum(zd.shiji_shebao_heji) shijiShebaoHeji,
		sum(zd.yuqi_gongjijin_heji) yuqiGongjijinHeji,
		sum(zd.shiji_gongjijin_heji) shijiGongjijinHeji,
		sum(zd.yuqi_heji) yuqiHeji,
		sum(zd.shiji_heji) shijiHeji
		from zaice zc,zhangdan zd
		where
		zc.zc_id = zd.zaice_id
		and
		zc.supplier_id in (select s_id from supplier
		where type = 1)
		group by zc.supplier_id;
	</select>
</mapper>